@inherits UmbracoViewPage<Rasolo.Core.Features.ArticlePage.ArticlePage>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="article">
	<h1>@Model.Title</h1>
	<div class="article__content__main__body">
		@Model.MainBody
	</div>
</div>
