@inherits UmbracoViewPage<Rasolo.Core.Features.ArticlePage.ArticlePage>

<div class="article">
	<h1>@Model.Title</h1>
	<div class="article__content">
		@Model.MainBody
	</div>
</div>

@if (Model.ShowHeroImage)
{
	<style>
		html {
			background-image: url(@Model.HeroImage.DomainWithUrl);
			background-repeat: no-repeat;
		}
	</style>
}
