
@inherits UmbracoViewPage<Rasolo.Core.Features.BlogPostPage.BlogPostPage>
<div class="blogpost">
	<div class="blogpost__content">
		<p class="blogpost__date-created">@Model.CreateDate.ToString("yyyy-MM-dd")</p>
		<h1>@Model.Title</h1>
		@Model.MainBody
	</div>
</div>