@inherits UmbracoViewPage<Rasolo.Core.Features.BlogPage.BlogPage>
	
@if (Model.BlogPosts != null && Model.BlogPosts.Any())
{
	<div class="posts-container">
		<h2>Latest posts</h2>
		<div class="posts-container__posts">
			@{
				foreach (var blogPostPage in Model.BlogPosts)
				{
					@Html.Partial("BlogPostTeaser", blogPostPage)
				}
			}
		</div>
		<div class="spacer"></div>
	</div>
}