@inherits UmbracoViewPage<Rasolo.Core.Features.BlogPostPage.BlogPostPage>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blogpost">
	<h1>@Model.Title</h1>
	<div class="blogpost__content">
		@Model.MainBody
	</div>
</div>