@inherits UmbracoViewPage<Rasolo.Core.Features.StartPage.StartPage>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home">
	<section class="hero">
		<div id="hero_background-container">
			<div class="hero-header">
				<h1>@Model.Title</h1>
			</div>
			<img src="@Model.HeroImage.DomainWithUrl" id="hero-img" data-hero-type="start-page" alt="@Model.HeroImage.AltText" />
			<noscript><img src="@Model.HeroImage.DomainWithUrl"></noscript>
		</div>
	</section>
</div>

<div class="posts-container">
	<h2>Latest posts</h2>
	<div class="posts">
		<a href="/">
			<div class="post">
				<img src="https://picsum.photos/500/500" />
				<p>
					<span class="post-date">2019-06-07</span>
					<span class="post-category">Git</span>
					Sourcetree VS Git Kraken VS Fork
				</p>
			</div>

			<a href="/">
				<div class="post">
					<img src="https://picsum.photos/500/501" />
					<p>
						<span class="post-date">2019-05-06</span>
						<span class="post-category">Umbraco</span>
						How to deploy Umbraco 8 to Azure
					</p>
				</div>
			</a>
			<a href="/">

				<div class="post">
					<img src="https://picsum.photos/500/502" />
					<p>
						<span class="post-date">2019-04-06</span>
						<span class="post-category">Food</span>
						Huel VS Jimmy Joy VS Queal
					</p>
				</div>
			</a>

	</div>
	<div class="spacer"></div>
</div>
