<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fcd0cd67-400a-474c-92bf-aaf5a1f84588" Alias="StartPage - Textbox" Level="1">
  <Info>
    <Name>StartPage - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>30</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>