<?xml version="1.0" encoding="utf-8"?>
<Content Key="fafbbe98-56d0-4800-8380-18af5de3074c" Alias="Add translations" Level="4">
  <Info>
    <Parent Key="fa6439c3-1697-4002-919b-13d88db5a30f">Umbraco</Parent>
    <Path>/Start/Blogs/Umbraco/AddTranslations</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2019-10-24T16:09:37</CreateDate>
    <NodeName Default="Add translations" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>If you have found missing translations in Umbraco for your language, you can go to this folder in Umbraco core: <a href="https://github.com/umbraco/Umbraco-CMS/tree/v7/dev/src/Umbraco.Web.UI/umbraco/config/lang">https://github.com/umbraco/Umbraco-CMS/tree/v7/dev/src/Umbraco.Web.UI/umbraco/config/lang</a> which is the place where the translations are stored. Open the english file and search for the error message that you will be getting in english instead of your desired language. Find the area alias and the key alias of the key you want to translate. <br />In your own project you can now go to www(the location where umbraco is installed)/config/lang/{language}.user.xml. Add the area alias and key alias to the file if they don't already exist there and add your own translations. Compile and reload the site and the translations should be there. You can also create a pull request to Umbraco with your translations so that others can benefit.</p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[Adding translations using the language xml files in the config files.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[An explanation for how you can add translations to text in Umbraco itself.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/h14f2ibh/vancouver_downtown_night_cityscape_4k-2560x1440.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[How to add translations in Umbraco]]></Value>
    </title>
  </Properties>
</Content>