<?xml version="1.0" encoding="utf-8"?>
<Content Key="d84d30a9-a182-4952-9060-4e5d630ac632" Alias="Azure uses old database" Level="4">
  <Info>
    <Parent Key="3d755841-c847-4721-82c8-1a60407eac63">IT</Parent>
    <Path>/Start/Blogs/IT/AzureUsesOldDatabase</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2020-01-24T12:39:56</CreateDate>
    <NodeName Default="Azure uses old database" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>I created a new database on Azure based on a .bacpac file from the production environment for a customer project to use in the dev and uat environments. For the dev environment it kept displaying the old database even though it had been deleted and I had changed the connection string to point to the new database. Locally it worked perfectly to connect to the new database. <br />At first I only changed the connection string through FTP and then I realized that the connection string under the configuration section in Azure portal overrides the connection string defined in web.config. Changing the connection string there fixed it for the dev environment. This did not help for the uat environment however.</p>
<p>For the uat environment I updated the connection string in the configuration settings, I also updated the connection string through FTP/Azure live edit but to no success. I even created another new database to see if it works, no help there. Worked perfect locally. Restarting the website did not work. But stopping and starting the site did. Thanks to great coworkers who had experienced this issue before I was able to solve it quicker and could cancel the Microsoft support ticket.</p>
<p><strong>Solution:</strong></p>
<ol>
<li>Create the new database with a new name that has not been used before (should not be necessary but even locally I have had problems with the old database being used if I delete it and restore a new database with the same name as the old one)</li>
<li>Update the connection string under the configuration settings in your Azure web app in the Azure portal.</li>
<li>Stop and then Start the site in the Azure App Service overview section. (Restarting does not help, you have to Stop and then Start).</li>
</ol>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[Azure keeps using the same old deleted database even though I point to the new database in the connection string. Even though I created a new database with a new name it kept displaying the old one. Here is how I fixed it.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[When creating a new database with the same name and credentials as the old one in Azure the old database kept being used.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/b3zpqatv/az.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[Azure uses old deleted database solution]]></Value>
    </title>
  </Properties>
</Content>