<?xml version="1.0" encoding="utf-8"?>
<Content Key="b07265f3-1daa-4f6e-8885-0e452993f693" Alias="Blogs" Level="2">
  <Info>
    <Parent Key="8d8a5438-77f1-401f-b2ef-168f13843ebb">Start</Parent>
    <Path>/Start/Blogs</Path>
    <Trashed>false</Trashed>
    <ContentType>blogsPage</ContentType>
    <CreateDate>2020-01-21T14:27:41</CreateDate>
    <NodeName Default="Blogs" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec8aa3ba-c3d9-48bf-91d9-7995241215f3">BlogsPage</Template>
  </Info>
  <Properties>
    <mainBody>
      <Value><![CDATA[]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[Find all of the blogs on the Rasolo website here.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <title>
      <Value><![CDATA[The websites blogs]]></Value>
    </title>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>