<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d8a36f7-397f-45dc-b923-80f9c6b3302a" Alias="Brother not printing PDF" Level="4">
  <Info>
    <Parent Key="3d755841-c847-4721-82c8-1a60407eac63">IT</Parent>
    <Path>/Start/Blogs/IT/BrotherNotPrintingPDF</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2020-05-04T15:12:39</CreateDate>
    <NodeName Default="Brother not printing PDF" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>I bought a Brother printer (HL-L2350DW) and it refused to print PDF files. An error message appeared in Windows saying something like "Brother HL-L2350DW could not print the PDF file" when attempting to print. When I installed driver software i chose to only install the "Printer driver" thinking that would be enough so that I wont have to install unnecessary bloatware, but I was wrong.</p>
<p><br />After installing the recommended "Full driver &amp; software package" <a href="https://support.brother.com/g/b/downloadlist.aspx?c=us_ot&amp;lang=en&amp;prod=hll2350dw_us_eu_as&amp;os=10013">https://support.brother.com/g/b/downloadlist.aspx?c=us_ot&amp;lang=en&amp;prod=hll2350dw_us_eu_as&amp;os=10013</a> I was able to print PDF files. There does not seem to be any bloatware in that installation though so it's alright.</p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[A solution to the error message "could not print the pdf file" for your Brother printer.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[My newly bought Brother printer refused to print any files and only showed an error message even though I had installed the printer driver.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/kf0d5z2i/brother.png","focalPoint":{"left":0.35833333333333334,"top":0.47333333333333333},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[How to fix Brother printer not printing PDF files]]></Value>
    </title>
  </Properties>
</Content>