<?xml version="1.0" encoding="utf-8"?>
<Content Key="f28ba2fa-acf2-40d8-8975-98813f40bbcb" Alias="Clear Umbraco browser cache" Level="4">
  <Info>
    <Parent Key="fa6439c3-1697-4002-919b-13d88db5a30f">Umbraco</Parent>
    <Path>/Start/Blogs/Umbraco/ClearUmbracoBrowserCache</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2019-12-21T18:57:47</CreateDate>
    <NodeName Default="Clear Umbraco browser cache" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>Have you changed the front-end or installed a new project and the browser refuses to display the changes/front-end in general? Change the number in the version attribute of the &lt;clientDependency&gt; tag in the file ClientDependency.config. This will force Umbraco to update the cache. You should also clear the browser cache for good measure. You can usually do that by pressing CTRL + SHIFT + DELETE and check the Cache box and press delete.</p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[Instructions on how to solve the issue with the browser's cache not being updated in Umbraco]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[How can you clear the browser cache for Umbraco and get your front-end and assets to show up?]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/ltqd2kaf/ball-branch-celebration-christmas-243022.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[How to clear the browser cache in Umbraco]]></Value>
    </title>
  </Properties>
</Content>