<?xml version="1.0" encoding="utf-8"?>
<Content Key="71006cff-5405-44d9-bc29-f5ef1f3f7b2d" Alias="Cookies" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cookies</Path>
    <Trashed>false</Trashed>
    <ContentType>articlePage</ContentType>
    <CreateDate>2019-12-18T13:30:46</CreateDate>
    <NodeName Default="Cookies" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="361cd9f0-731f-4ddb-807d-fc87ccbb9b08">ArticlePage</Template>
  </Info>
  <Properties>
    <mainBody>
      <Value><![CDATA[<h2>Cookie Policy for rasolo</h2>
<p> </p>
<p>This is the Cookie Policy for rasolo, accessible from rasolo.azurewebsites.net</p>
<p><strong>What Are Cookies</strong></p>
<p>As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the sites functionality.</p>
<p>For more general information on cookies see the Wikipedia article on HTTP Cookies.</p>
<p><strong>How We Use Cookies</strong></p>
<p>We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.</p>
<p><strong>Disabling Cookies</strong></p>
<p>You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in also disabling certain functionality and features of the this site. Therefore it is recommended that you do not disable cookies.</p>
<p><strong>The Cookies We Set</strong></p>
<ul>
<li>
<p>Google analytics cookies</p>
<ul>
<li>
<p>This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for helping us to understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.</p>
<p>For more information on Google Analytics cookies, see the official Google Analytics page.</p>
</li>
</ul>
</li>
</ul>
<p><strong>More Information</strong></p>
<p>Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site. This Cookies Policy was created with the help of the <a href="https://www.cookiepolicygenerator.com/">Cookies Policy Template Generator</a> and the <a href="https://www.termsandcondiitionssample.com/">Terms and Conditions Template</a>.</p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[Cookie Policy for rasolo]]></Value>
      <Value><![CDATA[Cookie Policy for rasolo]]></Value>
    </metaTitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>