<?xml version="1.0" encoding="utf-8"?>
<Content Key="dff7e5ba-f43f-4638-b9b2-a7a59f3968f8" Alias="Delete user SQL" Level="4">
  <Info>
    <Parent Key="3d755841-c847-4721-82c8-1a60407eac63">IT</Parent>
    <Path>/Start/Blogs/IT/DeleteUserSQL</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2020-06-05T10:23:08</CreateDate>
    <NodeName Default="Delete user SQL" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>I was not able to delete a user in my SQL Server. The error message that was thrown was something like: "Can not alter user dbo". The user had previously had a membership connection to a database.</p>
<p><br />The solution was to temporarily detach the previous database in order to delete the user from SQL server.</p>
<ul>
<li>Right click the database</li>
<li>Tasks</li>
<li>Detach</li>
<li>Check the "Drop connections" box</li>
<li>Click Ok</li>
<li>Right click the user under Security -&gt; Logins for SQL Server</li>
<li>Delete the user</li>
</ul>
<p> </p>
<p>After that I could restore the database and re-add the user to it.</p>
<p>In order to reattach the database:</p>
<ul>
<li>Right click "Databases" under SQL Server</li>
<li>Attach</li>
<li>Add</li>
<li>Select the database you had detached</li>
<li>Click ok</li>
</ul>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[How to delete a database user in SQL server when an error keeps throwing when trying to delete the user.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[Sometimes when trying to delete a user in SQL Server Management Studio it just wont work - cryptic error messages get sent when trying. Here is one of the ways in which it can be solved.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/dstfeboi/francisco.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[How to delete an undeleteable user in SQL Server]]></Value>
    </title>
  </Properties>
</Content>