<?xml version="1.0" encoding="utf-8"?>
<Content Key="d60098ef-2f4b-4afb-8e83-1be6ac15b8a8" Alias="Episerver" Level="3">
  <Info>
    <Parent Key="b07265f3-1daa-4f6e-8885-0e452993f693">Blogs</Parent>
    <Path>/Start/Blogs/Episerver</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2019-12-18T16:09:30</CreateDate>
    <NodeName Default="Episerver" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="46a8eab7-f8b8-4e5d-9be5-ec3392a9c8b2">BlogPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[Blogging about all things episerver]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <teaserHeading>
      <Value><![CDATA[Episerver blog]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"crops":[{"alias":"startPage","width":500,"height":500}],"focalPoint":{"left":0.49666666666666665,"top":0.4745222929936306},"src":"/media/uaondorb/epi.png"}]]></Value>
    </teaserMedia>
    <title>
      <Value><![CDATA[Episerver blog ]]></Value>
    </title>
  </Properties>
</Content>