<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3c29990-4b4c-45be-b51f-a8fcdf6dc04c" Alias="Episerver 11 upgrade error solution" Level="4">
  <Info>
    <Parent Key="d60098ef-2f4b-4afb-8e83-1be6ac15b8a8">Episerver</Parent>
    <Path>/Start/Blogs/Episerver/Episerver11UpgradeErrorSolution</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2019-10-21T16:09:40</CreateDate>
    <NodeName Default="Episerver 11 upgrade error solution" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>Many people including me have gotten frustrating dll errors when upgrading Episerver to 11.12.0. It works locally but on the deployment server it breaks. I spent a whole week trying to solve this problem. Eventually what solved it for me was to branch out the main develop branch to a new branch called develop-2, based on an older working version of develop. <br /><br />In develop-2 I cherry picked every commit from develop up to the upgrade to see where it broke. Then we reset develop to the older working version and merged in develop-2 to develop (excluding the breaking commits). The breaking stuff was solved later, separately.<br /><br />The packages that screwed things up were IdentityModel and NewtonSoft.json.</p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[Solution for dll errors when upgrading Episerver. System.Net.Http, System.IO.Compression. 11.12.0]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[How to solve dll errors when attempting to upgrade your site to Episerver version 11.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/g1ngo0n1/fozen_skyes_5k-2560x1440.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[Episerver 11 upgrade error solution]]></Value>
    </title>
  </Properties>
</Content>