<?xml version="1.0" encoding="utf-8"?>
<Content Key="47f19f61-4033-4610-981b-cec6207cd8dc" Alias="Feed" Level="4">
  <Info>
    <Parent Key="fa6439c3-1697-4002-919b-13d88db5a30f">Umbraco</Parent>
    <Path>/Start/Blogs/Umbraco/Feed</Path>
    <Trashed>false</Trashed>
    <ContentType>feedPage</ContentType>
    <CreateDate>2022-04-24T21:33:19</CreateDate>
    <NodeName Default="Feed" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c983b1f7-475f-4bd6-b809-d1014b0af7c6">FeedPage</Template>
  </Info>
  <Properties />
</Content>