<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfa6bb9f-1e9c-4b84-893c-9ee63a6eceac" Alias="Free ssl on Azure" Level="4">
  <Info>
    <Parent Key="3d755841-c847-4721-82c8-1a60407eac63">IT</Parent>
    <Path>/Start/Blogs/IT/FreeSslOnAzure</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2020-01-23T20:44:20</CreateDate>
    <NodeName Default="Free ssl on Azure" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>Apparently all websites on Azure with &lt;name&gt;.azurewebsites.net gets a free wildcard certificate issued by Microsoft. This means that the website you create will automatically get https, for free and without you doing anything.<br /><br />I have had my website for 6+ months without realizing this. I thought it was a paid feature for basic tier and above but apparently even free tiers gets HTTPS. I tested it out by appending "https://" before my site and lo and behold, https is activated. All I had to do now was to rewrite from HTTP to HTTPS.</p>
<p>My code for rewrite looks like this:</p>
<pre> &lt;rewrite&gt;<br />&lt;rules&gt;<br />&lt;clear /&gt;<br />&lt;rule name="Redirect to https" stopProcessing="true"&gt;<br />&lt;match url=".*" /&gt;<br />&lt;conditions&gt;<br />&lt;add input="{HTTPS}" pattern="off" ignoreCase="true" /&gt;<br />&lt;/conditions&gt;<br />&lt;action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" /&gt;<br />&lt;/rule&gt;<br />&lt;/rules&gt;<br />&lt;/rewrite&gt;</pre>
<p>Not only do you get 10 free web apps (permanently?) from Azure but HTTPS as well, automatically! And one year of free SQL database. I pay nothing for my website, web api and database. I almost feel bad for it.</p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[Not only do you get 10 free web apps (permanently?) from Azure but HTTPS as well, automatically! And one year of free SQL database. I pay nothing for my website, web api and database. I almost feel bad for it.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[Apparently all Azure web apps comes with free SSL on the free domain your app receives.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/hh2agfll/pngguru-com.png","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[Free SSL/HTTPS on Azure]]></Value>
    </title>
  </Properties>
</Content>