<?xml version="1.0" encoding="utf-8"?>
<Content Key="26cc8d78-ef76-4b9c-9bf1-0617c5786d7f" Alias="Global settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>globalsettings</ContentType>
    <CreateDate>2019-12-18T13:25:21</CreateDate>
    <NodeName Default="Global settings" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cookiesAcceptText>
      <Value><![CDATA[I understand]]></Value>
    </cookiesAcceptText>
    <cookiesLink>
      <Value><![CDATA[[{"name":"Read more","udi":"umb://document/71006cff540544d9bc29f5ef1f3f7b2d"}]]]></Value>
    </cookiesLink>
    <cookiesNoticeText>
      <Value><![CDATA[This website uses cookies for Google Analytics tracking.]]></Value>
    </cookiesNoticeText>
    <homeText>
      <Value><![CDATA[Rasolo]]></Value>
    </homeText>
    <searchResultsPerPage>
      <Value><![CDATA[5]]></Value>
    </searchResultsPerPage>
  </Properties>
</Content>