<?xml version="1.0" encoding="utf-8"?>
<Content Key="d83490bf-87fe-4c74-a2c6-e9e272d037ba" Alias="How to do if statements in Razor" Level="4">
  <Info>
    <Parent Key="3d755841-c847-4721-82c8-1a60407eac63">IT</Parent>
    <Path>/Start/Blogs/IT/HowToDoIfStatementsInRazor</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2020-06-03T19:26:38</CreateDate>
    <NodeName Default="How to do if statements in Razor" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>Example 1:</p>
<pre>&lt;div class="@if(Model.InvertedColor){&lt;text&gt;text-white&lt;/text&gt;} content-meta__published_at mb-3x"&gt;</pre>
<p> </p>
<p>Example 2:</p>
<pre>&lt;div class="@(Model.InvertedColor ? "text-white" : string.Empty) content-meta__published_at mb-3x"&gt;</pre>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[Cheat sheets on how to do if-statements in Razor view pages in dotnet C#.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[There are many ways to do if statements in Razor and I always forget the syntax for it, here I will post the ways I know of.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/dhjjcaqj/bluepurple.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[How to do if statements in Razor]]></Value>
    </title>
  </Properties>
</Content>