<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f14540d-62f3-4323-97ac-972f83b770cb" Alias="How to deploy Umbraco to Azure" Level="4">
  <Info>
    <Parent Key="fa6439c3-1697-4002-919b-13d88db5a30f">Umbraco</Parent>
    <Path>/Start/Blogs/Umbraco/HowToDeployUmbracoToAzure</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2019-10-13T16:09:45</CreateDate>
    <NodeName Default="How to deploy Umbraco to Azure" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>I made a post on our.umbraco.com where I gave an explanation for how to deploy Umbraco V8 to Azure after finding out for myself with my own website, the link to that post is here: <a href="https://our.umbraco.com/forum/umbraco-8/96796-deploying-v8-app-to-azure-using-azure-devops"></a><a href="https://our.umbraco.com/forum/umbraco-8/96796-deploying-v8-app-to-azure-using-azure-devops">https://our.umbraco.com/forum/umbraco-8/96796-deploying-v8-app-to-azure-using-azure-devops</a><a href="https://our.umbraco.com/forum/umbraco-8/96796-deploying-v8-app-to-azure-using-azure-devops"></a></p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[How to deploy Umbraco to Azure using Azure Pipelines]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[An explanation on how to deploy your Umbraco website to Azure using Azure Pipelines.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/vmlld3ie/sunset_photographer_4k_5k-2560x1440.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[How to deploy Umbraco to Azure]]></Value>
    </title>
  </Properties>
</Content>