<?xml version="1.0" encoding="utf-8"?>
<Content Key="64291647-0c72-4ba2-8034-c02c6e45d151" Alias="Import sql database solution" Level="4">
  <Info>
    <Parent Key="3d755841-c847-4721-82c8-1a60407eac63">IT</Parent>
    <Path>/Start/Blogs/IT/ImportSqlDatabaseSolution</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2020-01-25T12:40:32</CreateDate>
    <NodeName Default="Import sql database solution" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>Right click SQL Server from SSMS and choose Properties -&gt; Advanced -&gt; Enabled Contained Databases -&gt; True (instead of false).</p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[How to fix  "Error importing database:Could not import package.
    Error SQL72014: .Net SqlClient Data Provider: Msg 12824, Level 16, State 1, Line 5 The sp_configure value 'contained database authentication' must be set to 1 in order to alter a contained database.  You may need to use RECONFIGURE to set the value_in_use."]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[When importing a database in SQL Server an error was thrown, here is how I solved it using Sql Server Management Studio.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/2fkjzpuf/sqql.png","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[SQL Error importing database solution]]></Value>
    </title>
  </Properties>
</Content>