<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d755841-c847-4721-82c8-1a60407eac63" Alias="IT" Level="3">
  <Info>
    <Parent Key="b07265f3-1daa-4f6e-8885-0e452993f693">Blogs</Parent>
    <Path>/Start/Blogs/IT</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2019-12-18T16:09:33</CreateDate>
    <NodeName Default="IT" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="46a8eab7-f8b8-4e5d-9be5-ec3392a9c8b2">BlogPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[This is a blog where I write about IT related things such as printers, Cloudflare, Microsoft Teams or whatever it may be.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Blogging about all things IT]]></Value>
    </metaTitle>
    <teaserHeading>
      <Value><![CDATA[IT Blog]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/b1oliujn/it.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <title>
      <Value><![CDATA[IT Blog]]></Value>
    </title>
  </Properties>
</Content>