<?xml version="1.0" encoding="utf-8"?>
<Content Key="721c8e5a-00dd-421f-bd29-c60c080dfab8" Alias="Line breaks text area" Level="4">
  <Info>
    <Parent Key="fa6439c3-1697-4002-919b-13d88db5a30f">Umbraco</Parent>
    <Path>/Start/Blogs/Umbraco/LineBreaksTextArea</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2019-10-17T16:09:47</CreateDate>
    <NodeName Default="Line breaks text area" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p><img style="display: block; margin-left: auto; margin-right: auto;" src="?width=493&amp;height=200" alt="" width="493" height="200" data-udi="umb://media/e1ea68a441594b7bb6e074dc2c0dff37" /></p>
<p>You have printed out the text of a TextArea property type in Umbraco, but the line breaks are ignored?<br /><br />Solution:<br />Wrap the text in Html.Raw() and use the string extension method Replace() for \n with &lt;br&gt;.</p>
<p> </p>
<p>Like so:</p>
<pre><br /><sub> @Html.Raw(Model.Preamble.Replace("\n", "&lt;br /&gt;"))<br /></sub></pre>
<p>Where Preamble is the mapped Text Area string property.</p>
<p>\n stands for line break but it does not automatically get used when displayed in the web browser so it needs to be replaced with &lt;br&gt; tags.</p>
<p> </p>
<p><strong>Don't forget to null check Preamble in this case before doing replace</strong></p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[How to get line breaks to display from Umbraco Text Area property editor.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[Displaying line breaks created in a text area is important and here is how you can do that.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/5tgltkbk/blue_ocean_aesthetic_background-wallpaper-1920x1080.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[Umbraco line breaks are not displayed from Text Area solution]]></Value>
    </title>
  </Properties>
</Content>