<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fa8b0cf-6cfc-4a18-9a7a-523f075c77cb" Alias="Microsoft teams login solution" Level="4">
  <Info>
    <Parent Key="3d755841-c847-4721-82c8-1a60407eac63">IT</Parent>
    <Path>/Start/Blogs/IT/MicrosoftTeamsLoginSolution</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2020-01-30T10:32:00</CreateDate>
    <NodeName Default="Microsoft teams login solution" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p><img src="?width=697&amp;height=413&amp;mode=max" alt="" width="697" height="413" data-udi="umb://media/447a491fd00c4f769b4920838999ccf1" /></p>
<p> </p>
<p>I logged in to Microsoft Teams and kept getting the message "You're not on Teams yet, but you can set it up for your organization." Did not matter if I logged out or restarted the pc.<br /><br /><strong>The solution </strong>was to uninstall the application, install it again and log out of the application and log in again.</p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[How to solve the Microsoft Teams login issue "You're not on Teams yet, but you can set it up for your organization."]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[When trying to log in to Microsoft Teams I would receive the "You're not on Teams yet" error, thankfully it could be solved.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/nhzb1fil/bingimageoftheday.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[How to fix Microsoft Teams login issue]]></Value>
    </title>
  </Properties>
</Content>