<?xml version="1.0" encoding="utf-8"?>
<Content Key="45c28237-efd9-4059-8b4e-1485278ce8c3" Alias="Migration error solution" Level="4">
  <Info>
    <Parent Key="fa6439c3-1697-4002-919b-13d88db5a30f">Umbraco</Parent>
    <Path>/Start/Blogs/Umbraco/MigrationErrorSolution</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2020-07-18T19:24:25</CreateDate>
    <NodeName Default="Migration error solution" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>I have created a custom table for my site called "rasoloComments". When developing locally I would get the following error:</p>
<pre>-&gt; System.InvalidOperationException: The migration plan does not support migrating from state "stage.rasolo.azurewebsites.net".</pre>
<p>In order to get rid of the error you have to empty the row in the table of the database named "dbo.umbracoKeyValue" with the name of the database in the error message.</p>
<p><img src="?width=814&amp;height=179&amp;mode=max" alt="" width="814" height="179" data-udi="umb://media/bd332418ab384da983cca500da859160" /></p>
<p> </p>
<p>My query looked like this:</p>
<pre>delete from dbo.umbracoKeyValue where [value] = 'stage.rasolo.azurewebsites.net'</pre>
<p> </p>
<p> </p>
<p> </p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[When developing locally you might encounter the error message "The migration plan does not support migrating from state {database name}" for your custom database table using migrations, here is a solution for it.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[How to solve a migration plan exception created by a custom table when developing locally.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/shahphzo/galaxy.jpg","focalPoint":{"left":0.5,"top":0.5007407407407407},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[How to solve Umbraco table migration error]]></Value>
    </title>
  </Properties>
</Content>