<?xml version="1.0" encoding="utf-8"?>
<Content Key="3abc9fd1-2805-42f4-88aa-79253ebf97a6" Alias="Namespace umbraco not found" Level="4">
  <Info>
    <Parent Key="fa6439c3-1697-4002-919b-13d88db5a30f">Umbraco</Parent>
    <Path>/Start/Blogs/Umbraco/NamespaceUmbracoNotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2019-10-30T16:09:52</CreateDate>
    <NodeName Default="Namespace umbraco not found" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>Error message:</p>
<div>
<pre>Error CS0246: The type  or namespace name 'Umbraco' <br />could not be found (are you missing a <br />using directive or an  assembly reference?</pre>
</div>
<p>I just tried to build my site after having added a few things, and an Umbraco update from version 8.2.0 -&gt; 8.2.1 was one of them. Azure Pipelines could not build the site however, and eventually I figured out why:<br /><br />The .Core project in my case had not had the hintpaths updated to point from 8.2.0 to 8.2.1 from the nuget installer. What I did was to copy paste the working hintpaths that the installer had fixed in the .tests project.</p>
<p>So from Rasolo.Tests.csproj I copied:</p>
<pre> &lt;Reference Include="Umbraco.Core, Version=8.0.0.0, Culture=neutral, processorArchitecture=MSIL"&gt;<br />&lt;HintPath&gt;..\..\packages\UmbracoCms.Core.8.2.1\lib\net472\Umbraco.Core.dll&lt;/HintPath&gt;<br />&lt;/Reference&gt;<br />&lt;Reference Include="Umbraco.Examine, Version=8.0.0.0, Culture=neutral, processorArchitecture=MSIL"&gt;<br />&lt;HintPath&gt;..\..\packages\UmbracoCms.Web.8.2.1\lib\net472\Umbraco.Examine.dll&lt;/HintPath&gt;<br />&lt;/Reference&gt;<br />&lt;Reference Include="Umbraco.Web, Version=8.0.0.0, Culture=neutral, processorArchitecture=MSIL"&gt;<br />&lt;HintPath&gt;..\..\packages\UmbracoCms.Web.8.2.1\lib\net472\Umbraco.Web.dll&lt;/HintPath&gt;<br />&lt;/Reference&gt;<br />&lt;Reference Include="Umbraco.Web.UI, Version=8.0.0.0, Culture=neutral, processorArchitecture=MSIL"&gt;<br />&lt;HintPath&gt;..\..\packages\UmbracoCms.Web.8.2.1\lib\net472\Umbraco.Web.UI.dll&lt;/HintPath&gt;<br />&lt;/Reference&gt;</pre>
<p>And pasted it over the old references in the Rasolo.Core.csproj project.</p>
<p> </p>
<p> </p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[The type or namespace name 'Umbraco' could not be found error with continous integration on build server, Azure Pipelines solution.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[Here is a solution to the "type of namespace name 'Umbraco' not found" error.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/o5obtyhs/mount_lorette_ponds_landscape_5k-2560x1440.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[Namespace name 'Umbraco' could not be found solution]]></Value>
    </title>
  </Properties>
</Content>