<?xml version="1.0" encoding="utf-8"?>
<Content Key="977c80b0-0fd2-41e9-aff3-d7c53d474e06" Alias="Permalinks in Umbraco" Level="4">
  <Info>
    <Parent Key="fa6439c3-1697-4002-919b-13d88db5a30f">Umbraco</Parent>
    <Path>/Start/Blogs/Umbraco/PermalinksInUmbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2020-05-19T18:54:04</CreateDate>
    <NodeName Default="Permalinks in Umbraco" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p><strong>Method 1: rewriteRules.config</strong></p>
<p>In web root/config/rewriteRules.config you can enter rewrite rules for your site, eg:<br /><br /></p>
<pre>&lt;?xml version="1.0" encoding="utf-8"?&gt;<br />&lt;rules&gt;<br /> &lt;rule name="Redirect Hello World" stopProcessing="true"&gt;<br />        &lt;match url="^hello-world$" /&gt;<br />        &lt;action type="Redirect" url="/blogs/programming/hello-world-python" redirectType="Permanent" /&gt;<br />  &lt;/rule&gt;<br />&lt;/rules&gt;</pre>
<p> </p>
<p>this will create a redirect from "rasolo.net/hello-world" to "rasolo.net/blogs/programming/hello-world-python".</p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p><strong>Method 2: Url Tracker extension<br /></strong></p>
<p>You can create rewrite rules as permalinks using Url Tracker extension, like so:</p>
<p><img src="?width=500&amp;height=171.36812411847674" alt="A screen shot of what a redirect could look like." width="500" height="171.36812411847674" data-udi="umb://media/89db7aaa13e64b25b1acd4e5c0c70556" /></p>
<p>The extension can be installed through NuGet and you can find more information here:<br /><a href="https://our.umbraco.com/packages/developer-tools/301-url-tracker/">https://our.umbraco.com/packages/developer-tools/301-url-tracker/</a></p>
<p> </p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[Here are some of the ways you can do redirects or permalinks in Umbraco.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[How to create a permanent short url version to your pages.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/c1bnstjf/chain.jpg","focalPoint":{"left":0.45666666666666667,"top":0.14814814814814814},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[How to create permalinks in Umbraco]]></Value>
    </title>
  </Properties>
</Content>