<?xml version="1.0" encoding="utf-8"?>
<Content Key="be79541f-6f97-4f41-b88b-da6a630b5201" Alias="Personal" Level="3">
  <Info>
    <Parent Key="b07265f3-1daa-4f6e-8885-0e452993f693">Blogs</Parent>
    <Path>/Start/Blogs/Personal</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2020-05-04T15:36:55</CreateDate>
    <NodeName Default="Personal" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="46a8eab7-f8b8-4e5d-9be5-ec3392a9c8b2">BlogPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[This is a blog where that is not topic specific and where I write about more personal things]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Blogging about personal things]]></Value>
    </metaTitle>
    <teaserHeading>
      <Value><![CDATA[Personal blog]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/kdilrux3/personal.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <title>
      <Value><![CDATA[Personal blog]]></Value>
    </title>
  </Properties>
</Content>