<?xml version="1.0" encoding="utf-8"?>
<Content Key="af915072-0b41-4976-ad1f-0da14f63e1b9" Alias="Roslyn error" Level="4">
  <Info>
    <Parent Key="fa6439c3-1697-4002-919b-13d88db5a30f">Umbraco</Parent>
    <Path>/Start/Blogs/Umbraco/RoslynError</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2019-10-24T16:09:55</CreateDate>
    <NodeName Default="Roslyn error" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>When deploying your Umbraco site to your webserver for the first time or even when working locally and installing an Umbraco project, you are fairly like to get a Roslyn not found error. This is because the Roslyn does not automatically get installed when compiling. My previous solution was to upload my Roslyn folder to the production server. But now I have managed to let Azure pipelines build server include Roslyn when building.<br /><br />Add the following to the .csproj file in your web project: </p>
<pre>  &lt;Target Name="CopyRoslynFiles" AfterTargets="AfterBuild" Condition="!$(Disable_CopyWebApplication) And '$(OutDir)' != '$(OutputPath)'"&gt;<br />    &lt;ItemGroup&gt;<br />      &lt;RoslynFiles Include="$(CscToolPath)\*" /&gt;<br />    &lt;/ItemGroup&gt;<br />    &lt;MakeDir Directories="$(WebProjectOutputDir)\bin\roslyn" /&gt;<br />    &lt;Copy SourceFiles="@(RoslynFiles)" DestinationFolder="$(WebProjectOutputDir)\bin\roslyn" SkipUnchangedFiles="true" Retries="$(CopyRetryCount)" RetryDelayMilliseconds="$(CopyRetryDelayMilliseconds)" /&gt;<br />  &lt;/Target&gt;</pre>
<p> </p>
<p><strong>OR</strong></p>
<p> </p>
<p>run this command in package manager console targeting the project that is failing:</p>
<pre><code>Update-Package Microsoft.CodeDom.Providers.DotNetCompilerPlatform -r</code></pre>
<p> </p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[How to fix the error "Could not find a part of the path '\bin\roslyn\csc.exe'"]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[Here are possible solutions to solving the "Roslyn not found" error.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/0qjdi3nw/neon_lightsaber-2560x1440.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[How to solve Roslyn not found error]]></Value>
    </title>
  </Properties>
</Content>