<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6e1945b-1679-4e8b-ad68-bb9a8b630c64" Alias="Solve 403 forbidden" Level="4">
  <Info>
    <Parent Key="d60098ef-2f4b-4afb-8e83-1be6ac15b8a8">Episerver</Parent>
    <Path>/Start/Blogs/Episerver/Solve403Forbidden</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2020-10-07T16:33:51</CreateDate>
    <NodeName Default="Solve 403 forbidden" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>When setting up a new Epi site locally you might encounter the error "HTTP Error 403.14 - Forbidden". The solution for this in my case was to go to the Admin page in Episerver -&gt; Manage websites and remove the existing hostnames from the database I had copied and replace the domain with my local domain for the website.</p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[When setting up a new project locally using an existing database you might encounter a 403 forbidden error, here is a solution for it.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[When setting up a new project locally using an existing database you might encounter a 403 forbidden error.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"crops":[{"alias":"startPage","width":500,"height":500}],"focalPoint":{"left":0.5,"top":0.5},"src":"/media/5xlfideo/pexels-photo-1003914.jpeg"}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[A blue image with white lines in it.]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[How to solve HTTP Error 403.14 - Forbidden in Episerver when setting up project]]></Value>
    </title>
  </Properties>
</Content>