<?xml version="1.0" encoding="utf-8"?>
<Content Key="0952a076-e966-4ad0-8970-296dfefa4837" Alias="Source tree vs GitKraken vs Fork" Level="4">
  <Info>
    <Parent Key="3d755841-c847-4721-82c8-1a60407eac63">IT</Parent>
    <Path>/Start/Blogs/IT/SourceTreeVsGitKrakenVsFork</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2019-10-13T16:09:57</CreateDate>
    <NodeName Default="Source tree vs GitKraken vs Fork" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p><strong>Update 2020-09-09</strong></p>
<p><strong>1. <a href="https://git-fork.com/">Fork</a></strong></p>
<ul>
<li><strong>Has the most features.</strong></li>
<li><strong>Automatic and non-intrusive updates.</strong></li>
<li><strong>Experienced zero bugs so far.</strong></li>
</ul>
<p><strong>2. <a href="https://www.sourcetreeapp.com/">Sourcetree</a><br /></strong></p>
<ul>
<li><strong>Similar to Fork but less features.</strong></li>
<li><strong>Bugs on every PC i've installed it on.</strong></li>
<li><strong>No automatic updates.</strong></li>
</ul>
<p><strong>3. <a href="https://www.gitkraken.com/">GitKraken</a><br /></strong></p>
<ul>
<li><strong>Lacking in features and feels too primitive with the free version.</strong></li>
</ul>
<p><strong>4. Visual Studio Team Explorer<br /></strong></p>
<p><em><strong>This is a GIT GUI feature in the IDE Visual Studio.</strong></em></p>
<ul>
<li><strong>It would be better than GitKraken if it allowed selecting of specific lines to be discarded. Lacking this feature makes it worse.</strong></li>
</ul>
<p><strong>5. <a href="https://desktop.github.com/">Github Desktop</a></strong></p>
<ul>
<li><strong>Impossible to use this at work. Lacking too many features.</strong></li>
</ul>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[Which Git GUI is the best? I have tried a few of them and give my short opinion of them and which one is the best. Source Tree VS GitKraken VS Fork VS Github Desktop VS Visual Studio Team Explorer.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[Choosing the right application for managing git can be a difficult choice since there are so many to choose from. Here are my thoughts on which one I think is the best out of the ones I have tried.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/0drppu2r/antarctica_winter_mountains_4k_5k-2560x1440-1.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[Which Git GUI is the best?]]></Value>
    </title>
  </Properties>
</Content>