<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe400e06-e5aa-4122-b872-de6c875e5a12" Alias="SQL database log in error" Level="4">
  <Info>
    <Parent Key="3d755841-c847-4721-82c8-1a60407eac63">IT</Parent>
    <Path>/Start/Blogs/IT/SQLDatabaseLogInError</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2020-08-28T15:36:26</CreateDate>
    <NodeName Default="SQL database log in error" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>After restoring a database I got an error for the user not being able to log in even though the credentials were correct. The user was using SQL server log in method, so the solution was to enable logging into the database using SQL Server logins and not just the default Windows Authentication method.</p>
<p>Right click the SQL server -&gt; Properties -&gt; Security -&gt; SQL Server and Windows Authentication mode -&gt; Ok.</p>
<p> </p>
<p><img src="?width=772&amp;height=204&amp;mode=max" alt="" width="772" height="204" data-udi="umb://media/9a2853685c75450f9e8f8318f98e422b" /></p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[How to solve the log in error for your user created using SQL Server Authentication method.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[How to solve the log in error for your user created using SQL Server Authentication method.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/ubgpkjc3/sunflowers-3-1393020.jpg","focalPoint":{"left":0.615,"top":0.4775},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[How to fix logging into SQL database error]]></Value>
    </title>
  </Properties>
</Content>