<?xml version="1.0" encoding="utf-8"?>
<Content Key="aaf1bafd-aad2-4993-8c23-356ee782ce4b" Alias="SQL uses old database" Level="4">
  <Info>
    <Parent Key="3d755841-c847-4721-82c8-1a60407eac63">IT</Parent>
    <Path>/Start/Blogs/IT/SQLUsesOldDatabase</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2020-01-23T16:18:06</CreateDate>
    <NodeName Default="SQL uses old database" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>I was using an old dev database for work and wanted to use the newer database from production. I deleted my old database and restored to a new database based on the one from production, with the same name as the old database. This made it so that the old database kept being used.<br /><br /><strong>Solution:</strong></p>
<p>I deleted the database using SQL script "Drop database" instead of deleting it from SSMS by right clicking it and choosing "delete". I also had to right click SQL Server from SSMS and choose Properties -&gt; Advanced -&gt; Enabled Contained Databases -&gt; True (instead of false).</p>
<p>For good measure it might be worth it to also delete the .mdf and .ldf files in this folder (depending on your version in the path):<br />C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA<br /><br />So if your old databases name is "MyDatabase" you should delete the files "MyDatabase.mdf" and "MyDatabase.ldf".<br /><br />In order to get access to the folder I had to right click it and give myself permission to enter the folder.</p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[When creating a new database for SQL Server with the same name as the old database, SQL Server might use the old database instead of the new. Here is how to fix it.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[Sometimes when creating a new database in SQL Server with the same name and credentials as the old one, the old one will still be used.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/lp2fi2bf/sql.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[Fix SQL server using old database on restore]]></Value>
    </title>
  </Properties>
</Content>