<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d8a5438-77f1-401f-b2ef-168f13843ebb" Alias="Start" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Start</Path>
    <Trashed>false</Trashed>
    <ContentType>startPage</ContentType>
    <CreateDate>2019-12-18T16:09:21</CreateDate>
    <NodeName Default="Start" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2e31532f-9b66-4721-b1c5-c7048a27ed37">StartPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[umb://media/e80a97803645452db4d3729a308c3d7c]]></Value>
    </heroImage>
    <homeTextColor>
      <Value><![CDATA[{
  "value": "ffffff",
  "label": "ffffff",
  "sortOrder": 8,
  "id": "9"
}]]></Value>
    </homeTextColor>
    <metaDescription>
      <Value><![CDATA[Web developer from Stockholm, Sweden, writing about Umbraco and Episerver and some other things.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Web developer from Stockholm, Sweden]]></Value>
    </metaTitle>
    <title>
      <Value><![CDATA[Have a nice day -
Rasolo]]></Value>
    </title>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>