<?xml version="1.0" encoding="utf-8"?>
<Content Key="2eefc6a3-0394-45b3-8639-c022514d5d7d" Alias="Translate checkboxes" Level="4">
  <Info>
    <Parent Key="fa6439c3-1697-4002-919b-13d88db5a30f">Umbraco</Parent>
    <Path>/Start/Blogs/Umbraco/TranslateCheckboxes</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2020-02-10T20:38:52</CreateDate>
    <NodeName Default="Translate checkboxes" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>We have a block containing a checkbox with the name "ElementarySchool" and another one with the name "LeisureHome":</p>
<p><img src="?width=465&amp;height=404" alt="A screenshot of a block with properties." width="465" height="404" data-udi="umb://media/f057a58c95584571b26e60fed0014eae" /></p>
<p> </p>
<p>We want to translate them on the page that uses the block, to Swedish. It currently looks like this:<br /><br /><img src="?width=458&amp;height=281" alt="" width="458" height="281" data-udi="umb://media/bb620304661f45c98ab1bbefe0ca6c42" /></p>
<p> </p>
<p>The "Tags" property containing the block is named "ExampleBlockArea" and has the alias "exampleBlockArea".</p>
<p>The document type containing the "Tags" property is named "ExamplePage" and has the alias "examplePage".</p>
<p>In order to translate the checkbox properties we go to the uSync backoffice.config file.<br /><br />We create a DictionaryItem for the ExamplePage called "ExamplePage", within that a DictionaryItem for the Tags property called "exampleBlockArea", within that a DictionaryItem for each of the checkboxes, called "elementarySchool" and "leisureHome" respectively. Final code will look like this:<br /><br /></p>
<div style="color: #d4d4d4; background-color: #1e1e1e; font-family: Consolas, 'Courier New', monospace; font-weight: normal; font-size: 14px; line-height: 19px; white-space: pre;">
<div>&lt;DictionaryItem Key="ExamplePage"&gt;</div>
<div>    &lt;Value LanguageId="1520" LanguageCultureAlias="en-US"&gt;&lt;![CDATA[This is an example page]]&gt;&lt;/Value&gt;</div>
<div>    &lt;Value LanguageId="3" LanguageCultureAlias="sv-SE"&gt;&lt;![CDATA[Detta är en exempelsida]]&gt;&lt;/Value&gt;</div>
<div>    &lt;DictionaryItem Key="exampleBlockArea"&gt;</div>
<div>        &lt;Value LanguageId="3" LanguageCultureAlias="sv-SE"&gt;&lt;![CDATA[Taggar]]&gt;&lt;/Value&gt;</div>
<div>        &lt;DictionaryItem Key="elementarySchool"&gt;</div>
<div>            &lt;Value LanguageId="3" LanguageCultureAlias="sv-SE"&gt;&lt;![CDATA[‎‎‎‎‎‎‏‏‎‏‏‎Grundskola]]&gt;&lt;/Value&gt;</div>
<div>        &lt;/DictionaryItem&gt;</div>
<div>        &lt;DictionaryItem Key="leisureHome"&gt;</div>
<div>            &lt;Value LanguageId="3" LanguageCultureAlias="sv-SE"&gt;&lt;![CDATA[‎‎‎‎‎‎‏‏‎‏‏‎Fritidshem]]&gt;&lt;/Value&gt;</div>
<div>        &lt;/DictionaryItem&gt;</div>
<div>    &lt;/DictionaryItem&gt;</div>
<div>&lt;/DictionaryItem&gt;</div>
</div>
<p><br />The final result of the page will look like this:<br /><br /></p>
<p><img src="?width=453&amp;height=278" alt="A picture of the translated checkbox properties" width="453" height="278" data-udi="umb://media/027718d804d645c7b048b3d047e19403" /><br /><br />(I realize now that I have mixed Swedish and English in my example, my bad. Too tired to change now though).</p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[How to translate the checkbox properties of a block within a page in Umbraco version 7 using uSync. You have to nest the DictionaryItems under the DocumentType in backoffice.config]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[Finding out how to translate checkboxes in Umbraco 7 took me a while to figure out so here is a guide on how to do it so that others won't have to figure it out themselves.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/awcfv3dd/bingimageoftheday.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[How to translate checkboxes in a block in Umbraco V7]]></Value>
    </title>
  </Properties>
</Content>