<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa6439c3-1697-4002-919b-13d88db5a30f" Alias="Umbraco" Level="3">
  <Info>
    <Parent Key="b07265f3-1daa-4f6e-8885-0e452993f693">Blogs</Parent>
    <Path>/Start/Blogs/Umbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2019-12-18T16:09:35</CreateDate>
    <NodeName Default="Umbraco" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="46a8eab7-f8b8-4e5d-9be5-ec3392a9c8b2">BlogPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[Writing about all things Umbraco.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <teaserHeading>
      <Value><![CDATA[Umbraco blog]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/rs4klfx3/umbraco.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <title>
      <Value><![CDATA[Umbraco blog]]></Value>
    </title>
  </Properties>
</Content>