<?xml version="1.0" encoding="utf-8"?>
<Content Key="aba10131-65ae-45ca-bd51-f28c2f016d60" Alias="Whitelist Umbraco back office" Level="4">
  <Info>
    <Parent Key="fa6439c3-1697-4002-919b-13d88db5a30f">Umbraco</Parent>
    <Path>/Start/Blogs/Umbraco/WhitelistUmbracoBackOffice</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2019-10-13T16:10:00</CreateDate>
    <NodeName Default="Whitelist Umbraco back office" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p><span>Don't want anyone being able to surf to your Umbraco back office in production? I have the solution. Simply go to your web.config file and paste in this:<br /></span></p>
<pre><span><br /><sup>&lt;location path="umbraco"&gt;</sup><br /><sup>&lt;system.webServer&gt;</sup><br /><sup>&lt;security&gt;</sup><br /><sup>&lt;ipSecurity allowUnlisted="false" denyAction="Forbidden"&gt;</sup><br /><sup>&lt;add allowed="true" ipAddress="{your ip}" /&gt;</sup><br /><sup>&lt;/ipSecurity&gt;</sup><br /><sup>&lt;/security&gt;</sup><br /><sup>&lt;/system.webServer&gt;</sup><br /><sup>&lt;/location&gt;</sup><br /></span></pre>
<p><span>where {your ip} is the ip address to your computer. So let's say your ip address is 64.203.49.67, the field should look like this:</span><span></span></p>
<pre><span><sub>&lt;add allowed="true" ipAddress="64.203.49.67" /&gt;.</sub></span></pre>
<p><span>The </span></p>
<pre><span><sub>&lt;location path="umbraco</sub><sub>&gt;</sub></span></pre>
<p><span>at the start means that everything below is about the url path /umbraco on the site. If the url to your back office is something other than umbraco, you have to change it to the path you have.<br /><br /><strong>Transform the IP address</strong><br /></span><span>Since my website is open source, including the web.config, I don't want my IP addresses exposed. My (sort of dirty) solution is to use powershell to "transform" my ip addresses. What I have done is to have variables for my devices IP addresses like so:</span></p>
<pre><span><br /><sub>&lt;add allowed="true" ipAddress="$(allowedIpAddress1)" /&gt;</sub><br /><sub>&lt;add allowed="true" ipAddress="$(allowedIpAddress2)" /&gt;</sub><br /><sub>&lt;add allowed="true" ipAddress="$(allowedIpAddress3)" /&gt;</sub></span></pre>
<p><span>and in Azure Pipelines -&gt; Release -&gt; Tasks -&gt; Deploy Azure Web Service -&gt;  Post Deployment Action -&gt; Inline Script, I use bash commands to find the variables and replace them with the ip addresses for my devices, like so:</span></p>
<pre><span><br /><sub>sed -i -e 's/$(allowedIpAddress1)/{ip address 1}/g' Web.config</sub><br /><sub>sed -i -e 's/$(allowedIpAddress2)/{ip address 2}/g' Web.config</sub><br /><sub>sed -i -e 's/$(allowedIpAddress3)/{ip address 3}/g' Web.config</sub><br /></span></pre>
<p>This will transform the variables to my ip addresses after the deployment is completed.</p>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[How to prevent others from accessing your Umbraco back office.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[Here is a solution on how to whitelist Umbraco back office so that only ip addresses you specify are able to enter that part of the site.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/s3bai2kz/girly_dream_4k-2560x1440.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[How to whitelist Umbraco back office]]></Value>
    </title>
  </Properties>
</Content>