<?xml version="1.0" encoding="utf-8"?>
<Content Key="9dfaf3f7-f6e5-4ffc-99f7-d30301cd4599" Alias="Win32 not a valid FileTime" Level="4">
  <Info>
    <Parent Key="fa6439c3-1697-4002-919b-13d88db5a30f">Umbraco</Parent>
    <Path>/Start/Blogs/Umbraco/Win32NotAValidFileTime</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2019-10-15T16:10:02</CreateDate>
    <NodeName Default="Win32 not a valid FileTime" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <mainBody>
      <Value><![CDATA[<p>When unit testing a method using .GetCropUrl(), an exception can be thrown.</p>
<p>Error message:</p>
<pre><sub><br />Argument out of range exception. Not a valid Win32 FileTime</sub></pre>
<p>exception is thrown when the method is called in unit tests.<br /><br /><strong>Cause</strong>: The extension method uses ToFileTimeUtc() method on the media items property "UpdateDate". By default in unit tests, the property value is DateTime.Min.<br /><br /><strong>Solution:</strong> Mock the property UpdateDate on the media item to be, for example. DateTime.Now().</p>
<pre><br /><sub>Mock&lt;IPublishedContent&gt; blogPageMock = SetupContentMock(DocumentTypeAlias.BlogPage, blogPageProperty1);<br />blogPageMock.Setup(x =&gt; x.UpdateDate).Returns(DateTime.Now);</sub></pre>]]></Value>
    </mainBody>
    <metaDescription>
      <Value><![CDATA[Argument out of range exception. Not a valid Win32 FileTime solution]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <preamble>
      <Value><![CDATA[How to solve a unit test exception for mapping crop urls.]]></Value>
    </preamble>
    <teaserHeading>
      <Value><![CDATA[]]></Value>
    </teaserHeading>
    <teaserMedia>
      <Value><![CDATA[{"src":"/media/kgyf4rys/cathedral_rocks_purple_coastline_4k_5k-2560x1440.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"startPage","width":500,"height":500,"coordinates":null}]}]]></Value>
    </teaserMedia>
    <teaserMediaAltText>
      <Value><![CDATA[]]></Value>
    </teaserMediaAltText>
    <title>
      <Value><![CDATA[Umbraco Not a valid Win32 FileTime solution]]></Value>
    </title>
  </Properties>
</Content>