@model Rasolo.Core.Features.Shared.DocumentTypeInterfaces.IBlogTeaser

@if (Model.ShowPosts)
{
	<div class="posts-container">
		<h2 class="posts-container__heading">@Model.PostsTitle</h2>
		<div class="posts-container__posts">
			@{
				foreach (var postPage in Model.Posts)
				{
					@Html.Partial("PostTeaser", postPage)
				}
			}
		</div>
		<div class="spacer"></div>
	</div>
}