@model IEnumerable<Rasolo.Web.Features.BlogPostPage.BlogPostPage>

@if (Model != null && Model.Any())
{
	<div id="latest-posts" class="posts-container">
		<h2 class="posts-container__heading">Latest posts</h2>
		<div id="js-posts-container__posts" class="posts-container__posts">
			@{
				foreach (var blogPostPage in Model)
				{
					@(await Html.PartialAsync("BlogPostTeaser", blogPostPage))
				}
			}
		</div>
	</div>
}