@inherits UmbracoViewPage<Rasolo.Core.Features.BlogPostPage.BlogPostPage>

<a href="@Model.PageUrl">
	<article class="posts__post">
		@{
			if (string.IsNullOrEmpty(Model.TeaserMedia?.Url))
			{
				<img src="/assets/img/teaser/bear.jpeg"/>
			}
			else
			{
				<img src="@Model.TeaserMedia.Url"/>
			}
		}
		<p class="post__date">@Model.CreatedDate.ToString("yyyy-MM-dd")</p>
		<h4>@Model.TeaserHeading</h4>
	</article>
</a>
