@inherits UmbracoViewPage<IEnumerable<Rasolo.Core.Features.BlogPostPage.BlogPostPage>>

@if (Model != null && Model.Any())
{
	<div class="posts-container">
		<h2 class="posts-container__heading">Latest posts</h2>
		<div class="posts-container__posts">
			@{
				foreach (var blogPostPage in Model)
				{
					@Html.Partial("BlogPostTeaser", blogPostPage)
				}
			}
		</div>
		<div class="spacer"></div>
	</div>
}