@model IEnumerable<Rasolo.Web.Features.BlogPostPage.BlogPostPage>

@if (Model != null && Model.Any())
{
	<div id="latest-posts" class="posts-container">
		<h2 class="posts-container__heading">Latest posts</h2>
		<div id="js-posts-container__posts" class="posts-container__posts">
			@{
				foreach (var blogPostPage in Model)
				{
					 @(await Html.PartialAsync("BlogPostTeaser", blogPostPage))
				}
			}
		</div>
		<div class="posts-container__load-more-container">
			<div class="posts-container__load-more-container__item">
				<span>Load more</span>
			</div>
			<div class="posts-container__load-more-container__item posts-container__load-more-container__item--all">
				<span>Load all</span>
			</div>
		</div>
		<div class="spacer"></div>
	</div>
}