@model int

<form class="comment-form" action='@Url.Action("SubmitComment","Comments")' method="POST">
	<div>
		<input class="input"placeholder="Name" type="text" name="name" id="name" required>
	</div>
	<div>
		<textarea class="input textarea" placeholder="Enter your message"  name="message"></textarea>
	</div>
	<input type="hidden" id="contentid" name="contentid" value=@Model>
	<div>
		<input class="submit" type="submit" value="Post comment">
		@Html.AntiForgeryToken()
	</div>
</form>
