@model int
@using (Html.BeginForm("SubmitComment", "Comments", FormMethod.Post))
{
	<div>
		<label for="name">Name</label>
		<input type="text" name="name" id="name" required>
	</div>
	<div>
		<label for="message">Enter your message: </label>
		<input type="text" name="message" id="message" required>
	</div>
	<input type="hidden" id="contentid" name="contentid" value=@Model>
	<div>
		<input type="submit" value="Post">
		@Html.AntiForgeryToken()
	</div>
}
