@model Rasolo.Core.Features.Shared.CookiesNotice.CookiesNoticeViewModel

	@if (Model.ShowCookiesNotice)
	{
		<div class="cookies-notice">
			<p>@Model.CookiesNoticeText</p>
			<a href="@Model.CookiesLink.Url">@Model.CookiesLink.Name</a>
		</div>
	}