@model Rasolo.Core.Features.Shared.CookiesNotice.CookiesNoticeViewModel

	@if (Model.ShowCookiesNotice)
	{
		<div class="cookies-notice">
			<p>@Model.CookieNoticeText</p>
			<a href="@Model.CookieLink.Url">@Model.CookieLink.Name</a>
		</div>
	}