@model Rasolo.Web.Features.Shared.GlobalSettings.GlobalSettingsPageViewModel

<div>
    <a class="header__home @GetStyleColor(Model.HomeTextColor)" href="/">
        @Model.HomeText
    </a>
</div>

<div>
    <a class="header__search-url @(Model.CurrentPageIsStartPage ? GetStyleColor(Model.HomeTextColor) : null)" href="@Model.SearchPageUrl">
        <svg class="header__search-svg">
            <use xlink:href="/assets/img/icons/icons.svg#search-symbol"></use>
        </svg>
        <span class="header__search-text">
            Search
        </span>
    </a>
</div>

@functions {
    string GetStyleColor(string color)
    {
        return !string.IsNullOrEmpty(color) ? "style-color-" + color : "";
    }
}
