@model Rasolo.Core.Features.Shared.GlobalSettings.GlobalSettingsPageViewModel

<span><a href="/"  @{if (!string.IsNullOrEmpty(Model.HomeTextColor)) { <text>style="color:#@Model.HomeTextColor"</text> } }>@Model.HomeText </a></span>
