<div id="github-projects" class="posts-container">
	<h2 class="posts-container__heading">Github projects</h2>
	<div class="posts-container__posts">
		<article class="posts__post posts__post--wide">
			<a href="https://github.com/rasolo/maze">

				<img class="post__image post__image--rectangle post__image--no-cover" src="https://github.com/rasolo/maze/raw/master/assets/gifs/mazegenerator-1.1.gif?raw=true%22Title%22" />
			</a>
			<a class="post__category" href="https://github.com/rasolo/maze">Maze project</a>
			<p>Random maze generator and solver using breadth-first and depth-first algorithms.</p>
		</article>
		<article class="posts__post posts__post--wide">
			<a href="https://github.com/rasolo/website">

				<img class="post__image post__image--rectangle" src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_503426092_342208.jpg" />
			</a>
			<a class="post__category" href="https://github.com/rasolo/website">Rasolo.net</a>
			<p>The source code for this website.</p>
		</article>
		<article class="posts__post posts__post--wide">
			<a href="https://github.com/rasolo/pokemon">

				<img class="post__image post__image--rectangle" src="https://e0.pxfuel.com/wallpapers/528/102/desktop-wallpaper-rescue-team-vertical-enjoy-mysterydungeon-pokemon-mystery-dungeon.jpg" />
			</a>
			<a class="post__category" href="https://github.com/rasolo/pokemon">Pokémon API</a>
			<p>A Pokémon API where you can add, delete and retrieve Pokémon.</p>
		</article>
	</div>
</div>