@model Rasolo.Web.Features.StartPage.StartPage

<div class="home">
	<section class="hero">
		<div id="hero_background-container">
			<div class="hero-header">
				<h1>@Html.Raw(Model.Title)</h1>
			</div>
			@if (Model.ShowHeroImage)
			{
				<img src="@Model.HeroImage.DomainWithUrl" id="hero-img" data-hero-type="start-page" alt="@Model.HeroImage.AltText" />
				<noscript><img src="@Model.HeroImage.DomainWithUrl"></noscript>
			}
		</div>
	</section>
</div>

@*@Html.Partial("BlogPostsTeaser", Model.BlogPostPages)*@
