<div class="hero-container">
    <div class="hero-container__welcome">
        <h1>Welcome to Rasolo</h1>
        <p>Take a look around and see if you can find anything you find useful. Have a nice day.</p>
    </div>
    <div class="hero-container__teasers">
        <div id="projects-teaser" class="hero-container__teaser">
            <h3>Projects</h3>
        </div>
        <div id="posts-teaser" class="hero-container__teaser">
            <h3>Posts</h3>
        </div>
    </div>
</div>