<div class="hero-container">
    <div class="hero-container__welcome">
        <div class="hero-container__items">
            <h1>Welcome to Rasolo</h1>
            <p>Find solutions to technical problems.</p>
        </div>
        <div class="hero-container__teasers">
            <div id="projects-teaser" class="hero-container__teaser">
                <h3>Projects</h3>
            </div>
            <div id="posts-teaser" class="hero-container__teaser">
                <h3>Posts</h3>
            </div>
        </div>
    </div>
</div>