.comments {
  text-align: center;

  border-style: double;

  border-color: #dbe0e8;


  padding-top: 30px;

  padding: 10px;
  border-width: 1.5px;
  border-radius: 3%;
}

.comments__heading {
    text-align: left;

padding: 10px;

font-size: 23px;

margin-bottom: 15px;

border-bottom: solid;

    border-bottom-color: currentcolor;
    border-bottom-width: medium;

border-style: solid;

border-color:
#80808040;

border-width: 1px;
}

.comment {
  border-style: double;

  border-color: #cfd4dbb0;

  margin-bottom: 10px;

  padding: 5px;

  padding-top: 10px;

  padding-right: 5px;

  border-width: 0.5px;
}
