.auto-suggest-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;

    &__list {
        width: 40%;
        z-index: 200;
        padding: 0;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top-color: rgb(204, 204, 204);
        border-top-style: solid;
        border-top-width: 1px;
        border-top: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        display: block;
        margin-left: -72px;

        & li {
            list-style: none;
            padding: 6px 12px;
            cursor: pointer;

            &:hover {
                background-color: #f2f2f2;
            }
        }
    }
}