.pokemon {
  align-items: center;
  justify-content: center;
  margin: 5%;
  text-align-last: center; }
  .pokemon form {
    width: 40%;
    border: 1px solid #8080804f;
    display: inline-block;
    padding: 3%; }
  .pokemon input[type="submit"] {
    margin: auto;
    height: 50px;
    width: 15%;
    margin-top: 5%;
    background-color: #ffffff;
    border: 2px solid #616161; }
  .pokemon input[type="submit"]:hover {
    border: 2px solid #080808;
    color: #080808;
    font-weight: bold; }
  .pokemon input[type="number"] {
    height: 2vw;
    width: 50%;
    margin-left: 20px; }
  .pokemon input[type="number"]:hover {
    border: 1px solid #9c9292; }
  .pokemon input[type="text"] {
    width: 100%;
    height: 2vw;
    margin-top: 10%; }
  .pokemon select {
    height: 2vw;
    width: 10vw; }
  .pokemon .pokemonSubmitContainer {
    display: flex;
    flex-wrap: wrap; }

.cookies-notice {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #05113d;
  padding: 6%;
  height: 240px;
  margin-bottom: -100%;
  color: #fff;
  line-height: 1.5em;
  font-size: 1em;
  transition: all 2s ease-out; }
  .cookies-notice .cookies_accept {
    background-color: rgba(16, 192, 16, 0.819608);
    cursor: pointer; }
    .cookies-notice .cookies_accept:hover {
      background-color: darkgreen; }
  .cookies-notice p {
    margin-bottom: 3%; }
  .cookies-notice .cookies_read-more {
    background-color: #7b7e83; }
    .cookies-notice .cookies_read-more:hover {
      background-color: darkgray; }

.cookies-notice a {
  border: 2px solid;
  display: inline-block;
  text-decoration: none;
  margin: 2%;
  color: white;
  background-color: #131415;
  font-weight: bold;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 1%;
  width: 50%;
  padding: 2%;
  margin-bottom: 2%; }

@media screen and (min-width: 800px) {
  .cookies-notice {
    height: initial;
    padding: 1%;
    padding-top: 3%; }
    .cookies-notice p {
      margin-bottom: initial;
      padding: 1%; }
    .cookies-notice a {
      padding: 1%;
      width: 20%; } }

@media screen and (min-width: 1200px) {
  .cookies-notice a {
    width: 15%; } }

@media screen and (min-width: 1800px) {
  .cookies-notice {
    padding-top: 1%; }
    .cookies-notice a {
      width: 9%; } }

.site__header {
  position: absolute;
  z-index: 999;
  margin: 2%; }
  .site__header a {
    color: #2b1e1f;
    font-weight: bold;
    font-size: 7vw;
    text-decoration: none; }
    .site__header a:hover {
      cursor: pointer;
      color: #ceafb1; }

@media screen and (min-width: 1080px) {
  .site__header a {
    font-size: 4vw; } }

.site__header {
  margin: 1%;
  left: 2%;
  top: 1%; }

.article, .blogpost {
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  max-width: 730px; }
  .article h1, .blogpost h1 {
    font-family: "roboto", cursive;
    font-size: 23px; }
  .article h2, .blogpost h2 {
    font-size: 30px; }
  .article img, .blogpost img {
    width: auto !important;
    max-width: 100%;
    height: auto !important; }
  .article .article__content, .blogpost .article__content, .article .blogpost__content, .blogpost .blogpost__content {
    margin: 5%; }
    .article .article__content p, .blogpost .article__content p, .article .blogpost__content p, .blogpost .blogpost__content p {
      margin: 0.8%;
      line-height: 1.58;
      font-size: 16px;
      margin: 10px 0; }

@media (min-width: 600px) {
  .article h1, .blogpost h1 {
    font-size: 3rem; }
  .article .article__content p, .blogpost .article__content p, .article .blogpost__content p, .blogpost .blogpost__content p {
    font-size: 18px; } }

@media (min-width: 1080px) {
  .article, .blogpost {
    margin-top: 8%; }
    .article h1, .blogpost h1 {
      font-size: 3rem; }
    .article .article__content, .blogpost .article__content, .article .blogpost__content, .blogpost .blogpost__content {
      margin: auto;
      margin-top: 3%; }
      .article .article__content p, .blogpost .article__content p, .article .blogpost__content p, .blogpost .blogpost__content p {
        font-size: 18px; } }

body h1 {
  font-family: "lobster", cursive;
  font-size: 8vw; }

body #hero_background-container {
  position: relative;
  display: flex;
  align-items: center; }
  body #hero_background-container noscript {
    width: -webkit-fill-available; }
  body #hero_background-container img {
    width: 100%;
    height: 120vw;
    border-radius: 2%; }
  body #hero_background-container .hero-header {
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    text-align: center; }

body .posts-container h2 {
  text-align: center;
  margin: 15%;
  font-weight: normal; }

body .posts-container .posts-container__posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  grid-gap: 50px; }
  body .posts-container .posts-container__posts a {
    color: initial;
    text-decoration: none; }
  body .posts-container .posts-container__posts .posts__post {
    width: 150px;
    text-align: center; }
    body .posts-container .posts-container__posts .posts__post h4 {
      margin-top: 2%; }
      body .posts-container .posts-container__posts .posts__post h4:hover {
        color: #00000094; }
    body .posts-container .posts-container__posts .posts__post span {
      display: block; }
    body .posts-container .posts-container__posts .posts__post .post__post-date {
      font-style: italic;
      font-size: 13px; }
    body .posts-container .posts-container__posts .posts__post .post__post-category {
      font-weight: bold;
      margin-bottom: 5%; }
    body .posts-container .posts-container__posts .posts__post p {
      font-size: 14px; }
      body .posts-container .posts-container__posts .posts__post p:hover {
        color: lightgray; }
  body .posts-container .posts-container__posts img {
    width: 100%;
    height: auto;
    border-radius: 50%; }
    body .posts-container .posts-container__posts img:hover {
      opacity: 0.5; }

body .spacer {
  height: 50px; }

@media screen and (min-width: 600px) {
  body #hero_background-container img {
    height: 50vw; }
  body .posts-container h2 {
    margin: 5%;
    margin-bottom: 4%;
    font-size: 60px; }
  body .posts-container .posts-container__posts {
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr)); }
    body .posts-container .posts-container__posts .posts__post {
      width: 330px; }
      body .posts-container .posts-container__posts .posts__post h4 {
        font-size: 20px; }
      body .posts-container .posts-container__posts .posts__post .post__post-date {
        margin: 4%;
        font-size: 18px; }
      body .posts-container .posts-container__posts .posts__post .post__post-category {
        font-size: 18px; }
      body .posts-container .posts-container__posts .posts__post p {
        font-size: 20px; }
  body .spacer {
    height: 150px; } }

html *,
html *::before,
html *::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "roboto", cursive; }
