<?xml version="1.0" encoding="utf-8"?>
<Media Key="973ce7e4-0833-4e6f-a470-b84d12202452" Alias="Ball Branch Celebration Christmas 243022 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BallBranchCelebrationChristmas2430221</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-12-21T18:42:56</CreateDate>
    <NodeName Default="Ball Branch Celebration Christmas 243022 (1)" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2ltdzfzt/ball-branch-celebration-christmas-243022.jpg","crops":[{"alias":"startPage","width":500,"height":500}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>