<?xml version="1.0" encoding="utf-8"?>
<Media Key="abc40360-7288-4a33-9695-2d7b104bd7be" Alias="Ball Branch Celebration Christmas 243022" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BallBranchCelebrationChristmas243022</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-12-21T18:36:23</CreateDate>
    <NodeName Default="Ball Branch Celebration Christmas 243022" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mybnjk2i/ball-branch-celebration-christmas-243022.jpg","crops":[{"alias":"startPage","width":500,"height":500}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>