<?xml version="1.0" encoding="utf-8"?>
<Media Key="6982a895-4eb8-421e-91af-8a22ffd8aad1" Alias="Ice 3009009 1920" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ice30090091920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-12-21T18:43:17</CreateDate>
    <NodeName Default="Ice 3009009 1920" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/souie0ny/ice-3009009_1920.jpg","crops":[{"alias":"startPage","width":500,"height":500}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>