<?xml version="1.0" encoding="utf-8"?>
<Media Key="0658f759-381c-4a09-956a-61f5f2b7b9b3" Alias="Sql Login" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SqlLogin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-08-28T15:25:54</CreateDate>
    <NodeName Default="Sql Login" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/l51fqbq2/sql-login.png","crops":[{"alias":"startPage","width":500,"height":500}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>