<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbeb5cd4-0bca-4165-893f-191e1735f165" Alias="Sql Login (4)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SqlLogin4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-08-28T15:29:00</CreateDate>
    <NodeName Default="Sql Login (4)" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0joox44k/sql-login.png","crops":[{"alias":"startPage","width":500,"height":500}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>