<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4aeb7cf-cca9-4e64-84fe-30114f54d150" Alias="Sql Login (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SqlLogin2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-08-28T15:27:22</CreateDate>
    <NodeName Default="Sql Login (2)" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zg1l3jfj/sql-login.png","crops":[{"alias":"startPage","width":500,"height":500}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>