<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ec7b703e-cbe5-4102-bc66-d5dae0d4fe5c" Alias="containerPage" Level="1">
  <Info>
    <Name>ContainerPage</Name>
    <Icon>icon-folder-close color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f4ebf7f0-12d3-46d9-b065-915dfccf6602" SortOrder="0">articlePage</ContentType>
    <ContentType Key="ddb7fd0e-55ac-4cbb-88e9-a55057c9dc0c" SortOrder="1">blogPage</ContentType>
    <ContentType Key="900788b7-1261-41b3-ba9d-3219e48dcaaf" SortOrder="2">blogPostPage</ContentType>
    <ContentType Key="28b1a41a-867a-4a02-82ea-5b3d1b2d0433" SortOrder="3">startPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>260eb9bc-b0a5-4076-9eac-6aeee9801918</Key>
      <Name>umbracoUrlName</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="name">Name</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0bd476e6-9f9c-4e1a-8cb7-079cf76f5ee3</Key>
      <Caption>Name</Caption>
      <Alias>name</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>