<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ea0db6ae-22ab-47ea-b6b3-524c2102708c" Alias="feedPage" Level="1">
  <Info>
    <Name>FeedPage</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>FeedPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c983b1f7-475f-4bd6-b809-d1014b0af7c6">FeedPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>