<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="28b1a41a-867a-4a02-82ea-5b3d1b2d0433" Alias="startPage" Level="1">
  <Info>
    <Name>StartPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>StartPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2e31532f-9b66-4721-b1c5-c7048a27ed37">StartPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f4ebf7f0-12d3-46d9-b065-915dfccf6602" SortOrder="0">articlePage</ContentType>
    <ContentType Key="ec7b703e-cbe5-4102-bc66-d5dae0d4fe5c" SortOrder="1">containerPage</ContentType>
    <ContentType Key="22ecb40b-f693-4b1e-bd16-0d5c2dc1e1d3" SortOrder="2">siteMapPage</ContentType>
    <ContentType Key="ddb7fd0e-55ac-4cbb-88e9-a55057c9dc0c" SortOrder="3">blogPage</ContentType>
    <ContentType Key="4eecb958-4ad0-49d9-9162-cc17402101a8" SortOrder="4">blogsPage</ContentType>
    <ContentType Key="da371eab-0920-40ee-b16b-c2ed5d291e56" SortOrder="5">globalsettings</ContentType>
    <ContentType Key="69aaf95a-68ab-4a5b-979f-12b7d6b00571" SortOrder="6">searchPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6a91b226-8287-4b61-9313-60658c6045fc</Key>
      <Name>#HeroImage</Name>
      <Alias>heroImage</Alias>
      <Definition>54e087f8-14e5-47cc-9170-8d36261719c7</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">#Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8e198927-92b1-439d-b51e-ce5bc89bde20</Key>
      <Name>#HomeTextColor</Name>
      <Alias>homeTextColor</Alias>
      <Definition>962a3c3d-b46e-43b0-b732-2da0e757dd3f</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#HomeTextColorDescription]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">#Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6f5350e-d191-4523-beea-3ccb0029f850</Key>
      <Name>#MetaDescription</Name>
      <Alias>metaDescription</Alias>
      <Definition>89e55e73-df0c-4e88-b2d1-0a5f00441485</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="metaData">#MetaData</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8cb1bb9f-14e1-430b-8ebb-0ee6d28cfabc</Key>
      <Name>#MetaTitle</Name>
      <Alias>metaTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metaData">#MetaData</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2a733502-7ec1-43f2-93ba-1e1d0b0a441c</Key>
      <Name>#Title</Name>
      <Alias>title</Alias>
      <Definition>77b9ff4a-bd87-423d-b0ba-a1df778f7e3a</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">#Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c6d78618-a653-4756-b3c1-4c8da5823f95</Key>
      <Name>#umbracoUrlName</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">#Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1484b047-38d9-4d3b-b9c4-9fd8c373dc6b</Key>
      <Caption>#Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>49e301b2-2aea-4172-84ca-4ff1283c3e50</Key>
      <Caption>#Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>67c4ca58-3529-4b44-a0e4-fea564e9bcfb</Key>
      <Caption>#MetaData</Caption>
      <Alias>metaData</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>