.footer {
  background-color: #313131;
  color: #ffffff;

  &__inner {
    padding: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 3rem;

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    @media (min-width: 641px) {
      display: flex;
    }

    /* PC */
    @media (min-width: 900px) {
      display: flex;
      justify-content: center;
    }
  }

  &__section {
    margin-bottom: 12%;
    margin-top: 10%;
    border-bottom: 1px solid white;
    padding-bottom: 4rem;
    padding-left: 5%;
    padding-right: 5%;

    @media (min-width: 641px) {
      border-bottom: initial;
      padding-left: 2.5%;
      padding-right: 2.5%;
      margin-bottom: 0%;
      max-width: 20vw;

      &:not(:first-child) {
        border-left: 1px solid white;
      }
    }

    @media (min-width: 900px) {
      margin-top: 3%;
    }
  }

  &__img {
    width: 20%;
    border-radius: 50%;

    @media (min-width: 641px) {
      width: 50px;
      border-bottom: initial;
    }
  }

  &__list {
    list-style-type: none;
    margin-top: 10%;

    @media (min-width: 641px) {
      display: flex;
      margin-top: 15%;
    }
  }

  &__item {
    display: inline;
    margin: unset;
    margin-right: 15%;
    margin-left: -5px;

    @media (orientation: landscape) {
      margin-right: 8%;
      margin-left: 4%;
    }

    @media (min-width: 641px) {
      margin-right: 60%;
      margin-left: -35%;
    }

    @media (min-width: 900px) {
      margin-right: 63%;
      margin-left: -36%;
    }
  }

  &__anchor {
    text-decoration: underline;
    color: #ffffff;

    &:hover {
      text-decoration: underline;
    }
  }

  &__header {
    margin-bottom: 2%;

    @media (min-width: 641px) {
      margin-bottom: 5px;
    }
  }

  &__paragraph {
    line-height: 150%;
    padding: 2%;
    font-size: 0.85em;

    @media (min-width: 641px) {
      line-height: 100%;
      font-size: 1em;
      padding: 5px;
    }

    @media (min-width: 900px) {
      line-height: 100%;
      font-size: 1em;
    }
  }
}