.footer {
  background-color: #313131;
  color: #ffffff;

  &__inner {
    padding: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 3rem;

    /* PC */
    @media (min-width: 900px) {
      display: flex;
      justify-content: center;
    }
  }

  &__section {
    margin-bottom: 12%;
    margin-top: 10%;
    border-bottom: 1px solid white;
    padding:2%;

  

    @media (min-width: 900px) {
      margin-top: 3%;
      border-bottom: initial;

      margin-bottom: 0%;
      max-width: 20vw;

      &:not(:first-child) {
        border-left: 1px solid white;
      }
    }
  }

  &__img {
    width: 4rem;
    border-radius: 50%;

    @media (min-width: 641px) {
      border-bottom: initial;
    }
  }

  &__list {
    list-style-type: none;
    margin-top: 2rem;

    @media (min-width: 641px) {
      display: flex;
    }
  }

  &__item {
    display: inline;
    margin: unset;
    margin-left: -2rem;
    margin-right: 3rem;

    &:hover {
      opacity:0.5;
    }

    @media (min-width: 900px) {
      margin-right: 63%;
      margin-left: -36%;
    }
  }

  &__anchor {
    text-decoration: underline;
    color: #ffffff;

    &:hover {
      color: gray;
    }
  }

  &__header {
    margin-bottom: 2%;

    @media (min-width: 641px) {
      margin-bottom: 5px;
    }
  }

  &__paragraph {
    line-height: 1.3rem;
    padding: 2%;
    font-size: 1em;

    @media (min-width: 641px) {
      padding: 5px;
    }
  }
}