$pc-size: 20px;

.header {
  position: absolute;
  z-index: 999;
  margin: 1%;
  left: 5%;
  top: 4%;
  display: flex;
  width: 90%;
  justify-content: space-between;

  @media (min-width: 900px) {
    font-size: $pc-size;
  }

  &__home {
    text-decoration: none;

    &:visited {
      color: initial;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__search-url {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: initial;
    }
  }

  &__search-svg {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    @media (min-width: 900px) {
      width: 17px;
      height: 17px;
    }
  }

  &__search-icon {
    width: 18px;
    margin-bottom: -1px;

    @media (min-width: 900px) {
      width: $pc-size;
    }
  }

  &__search-text {
    &:hover {
      text-decoration: underline;
    }
  }
}
