.site__header {
    position: absolute;
    z-index: 999;
    margin: 2%;
    & a{
        color: #2b1e1f;
        font-weight: bold;
        font-size: 7vw;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: #ceafb1!important;
        }
    }
}

@media screen and (min-width: 1080px) {
    .site__header a{
    font-size: 4vw;
    }
}