.search-page {
    margin-top: 30%;
    @media (min-width: 641px) {
        margin-top: 20%;
    }

    @media (min-width: 1360px) {
        margin-top: 12%;
    }
}

.search-container {
    display: flex;
    justify-content: center;
}

#search-input {
    padding-left: 9px;
    width: 250px;
    @media (min-width: 641px) {
        width: 450px;
    }

    /* PC */
    @media (min-width: 900px) {
        width: 750px;
    }
}

.search-form {
    &__submit {
        background-color: #006ebf;
        border: 0;
        display: flex;
        align-items: center;
    }
}

.search-submit-icon {
    width: 20px;
}

.search-wrapper {
    display: flex;
    height: 200%;
}

.search-submit-text {
    color: #ffffff;
    padding: 5px;
}

.search-result {
    display: flex;
    flex-direction:column;
    margin-top: 20%;
    margin-left: 7%;

    &__title {
        font-size: 1.2rem;
    }

    &__list {
        list-style: none;
        padding:initial;
    }
    &__image {
        width: 95%;
        margin-bottom: 3%;
        margin-top: 10%;
    }

    &__preamble {
        max-width: 95%;
    }
}

.search-result__item {
    margin-bottom: 13%;
    max-width: 95%;
    &-header{
    margin-bottom: 10px;
    font-size:1.2rem;
    max-width: 95%;
    }
}
