html main {
  margin-top: initial;
}

  #hero_background-container {
    position: relative;
    display: flex;
    align-items: center;

    noscript {
      width: -webkit-fill-available;
    }

    img {
      width: 100%;
      height: 120vw;
      object-fit: cover;
    }

    .hero-header {
      position: absolute;
      left: 0;
      right: 0;
      color: white;
      text-align: center;
    }
  }

  .posts-container {
    &__heading {
      text-align: center;
      margin-top: 150px;
      margin-bottom: 20%;
      font-weight: normal;

      @media (min-width: 641px) {
        margin-top:200px;
      }

      @media (min-width: 900px) {
        margin-bottom:8%;
        margin-top:300px;
        font-size: 35px;
    }
    }

    &__load-more-container {
      margin-top: 5rem;
      text-align: center;
      &__item {
        cursor: pointer;
        display: inline-block;
        & span {
          background-color: #878787;
          color: white;
          padding: 1rem;
          display: block;
          min-width: 7rem;
          &:hover {
            background-color: #484448;
            font-weight: bold;
          }
        }

        &--all {
          @media screen and (min-width: 600px) {
            display: inline-block;
            margin-left: 3rem;
          }
          display: block;
          margin-top: 1.5rem;
          & span {
            display:inline-block;
          }
        }
      }
    }

    .posts-container__posts {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      justify-items: center;
      grid-gap: 50px;
      a {
        text-decoration: none;
        color:inherit;
      }
      a:first-of-type {
        &:hover {
          opacity: 0.5;
        }
        &:hover ~ .post__date {
          color: rgb(207, 191, 191);
        }
      }

      a:last-of-type {
        &:hover {
          color: rgb(207, 191, 191);
        }
      }
    

     

      .post__category {
        text-align: center;
        display: block;
        padding: 5px;
        font-style: italic;
        text-decoration: underline;
        font-weight: bold;

        &:hover {
          font-style: initial;
          color: rgb(189, 173, 173);
        }
      }
    }
  }

  .posts__post {
    width: 150px;
    text-align: center;
    h4 {
      margin-top: 2%;
    }
    span {
      display: block;
    }

    p {
      font-size: 14px;
    }

    &--wide {
      width:400px;
    }
  }

  .spacer {
    height: 50px;
  }

@media screen and (min-width: 600px) {
  body #hero_background-container {
    img {
      height: 50vw;
    }
  }

  body {
    .posts-container {
      .posts-container__posts {
        grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
        .posts__post {
          h4 {
            font-size: 20px;
          }
          width: 330px;
          .post__post-date {
            margin: 4%;
            font-size: 18px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
    .spacer {
      height: 150px;
    }
  }
}

.post__image {
    width: 100%;
    height: auto;
    border-radius: 50%;

    &--rectangle {
      border-radius: initial;
      object-fit: cover;
      height: 300px;
      width: 300px;

      @media screen and (min-width: 600px) {
        width: 400px;
        height: 400px;
    }
  }

    &--no-cover {
      object-fit:initial;
    }
  }

  .hero-container {
    height: 140vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/media/vmzjtszi/masaaki-komori-z8tqv3ykqd4-unsplash-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;

    @media screen and (min-width: 600px) {
      height: 105vw;
  }

  @media screen and (min-width: 900px) {
    height: 80vw;
}

@media screen and (min-width: 1200px) {
  height: 50vw;
}

&__welcome {
  text-align: center;

  & h1 {
      font-size: 8vw;
      text-align: center;

      @media screen and (min-width: 600px) {
        font-size: 6vw;
    }

    @media screen and (min-width: 900px) {
      font-size: 6vw;
  }

    @media screen and (min-width: 1500px) {
      font-size: 4vw;
  }
    }
  & p {
    padding: 2%;
    font-size: 4vw;

    @media screen and (min-width: 600px) {
      font-size: 3vw;
  }

  @media screen and (min-width: 1500px) {
    font-size: 1vw;
}
  }
}

&__teasers {
  display:flex;
}

    &__teaser {
      text-align: center;
      padding: 3.5vw;
      border-style: solid;
      min-width: 10rem;
      margin: 4vw;
      background-color: #68d9ff;
      cursor: pointer;
      border-width: 1px;

      @media screen and (min-width: 600px) {
        padding: 2.5vw;

    }

      @media screen and (min-width: 900px) {
        padding: 2vw;
    }

    @media screen and (min-width: 1200px) {
      padding: 1.2vw;
  }

  @media screen and (min-width: 1500px) {
    padding: 0.95vw;
}

      &:hover {
        background-color: #68c4e4;
      }

      &:nth-of-type(2) {
        background-color: #ace5ac;
  
        &:hover {
          background-color: #65dc65;
        }
      }
    }

  
  }