html main {
  margin-top: initial;
}
body {
  h1 {
    font-family: "lobster", cursive;
    font-size: 8vw;
  }
  #hero_background-container {
    position: relative;
    display: flex;
    align-items: center;

    noscript {
      width: -webkit-fill-available;
    }

    img {
      width: 100%;
      height: 120vw;
    }

    .hero-header {
      position: absolute;
      left: 0;
      right: 0;
      color: white;
      text-align: center;
    }
  }

  .posts-container {
    &__heading {
      text-align: center;
      margin-top: 150px;
      margin-bottom: 70px;
      font-weight: normal;
      font-size: 20px;

      @media (min-width: 641px) {
        margin-top:200px;
      }

      @media (min-width: 900px) {
        margin-bottom:8%;
        margin-top:300px;
        font-size: 35px;
    }
    }

    .posts-container__posts {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      justify-items: center;
      grid-gap: 50px;
      a {
        color: initial;
        text-decoration: none;
      }
      a:first-of-type {
        &:hover {
          opacity: 0.5;
        }
        &:hover ~ .post__date {
          color: rgb(207, 191, 191);
        }
      }

      a:last-of-type {
        &:hover {
          color: rgb(207, 191, 191);
        }
      }
      .posts__post {
        width: 150px;
        text-align: center;
        h4 {
          margin-top: 2%;
        }
        span {
          display: block;
        }

        p {
          font-size: 14px;
        }
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
      }

      .post__category {
        text-align: center;
        display: inline-block;
        padding: 5px;
        font-style: italic;
        text-decoration: underline;
        font-weight: bold;

        &:hover {
          font-style: initial;
          color: rgb(189, 173, 173);
        }
      }
    }
  }

  .spacer {
    height: 50px;
  }
}

@media screen and (min-width: 600px) {
  body #hero_background-container {
    img {
      height: 50vw;
    }
  }

  body {
    .posts-container {
      .posts-container__posts {
        grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
        .posts__post {
          h4 {
            font-size: 20px;
          }
          width: 330px;
          .post__post-date {
            margin: 4%;
            font-size: 18px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
    .spacer {
      height: 150px;
    }
  }
}
