
@import "pokemon";
@import "../components/cookies-notice/cookies-notice";
@import "../components/navigation/navigation";
@import "../views/article-page/article-page";
@import "../views/start-page/start-page";

html {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    font-family: "roboto", cursive;
  }
}


