<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b204261d-d996-49a8-8c1b-edafc85cd7d7" Alias="BlogPage - Hero image - Media Picker" Level="1">
  <Info>
    <Name>BlogPage - Hero image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": false,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": false,
  "StartNodeId": null
}]]></Config>
</DataType>