<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6b1074a-d400-4513-a570-2c8ab3fcb88a" Alias="BlogPostPage - Preamble - Textbox" Level="1">
  <Info>
    <Name>BlogPostPage - Preamble - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>