<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2068970c-807d-40f1-91c2-d9400761246e" Alias="BlogPage - #TeaserMedia - Image Cropper" Level="1">
  <Info>
    <Name>BlogPage - #TeaserMedia - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "startPage",
      "width": 500,
      "height": 500
    }
  ]
}]]></Config>
</DataType>