<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d06364d-6368-4990-b440-c5a2a7607e6f" Alias="BlogPage - #MetaDescription - Textarea" Level="1">
  <Info>
    <Name>BlogPage - #MetaDescription - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>