<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb128e0e-6195-43db-b287-684d74081517" Alias="Globalsettings - Multi Url Picker" Level="1">
  <Info>
    <Name>Globalsettings - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": null
}]]></Config>
</DataType>