<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5a591010-4c44-44e0-94e6-6dff62980f76" Alias="GlobalSettingsPage - #NumberOfSearchResults - Numeric" Level="1">
  <Info>
    <Name>GlobalSettingsPage - #NumberOfSearchResults - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0
}]]></Config>
</DataType>