<?xml version="1.0" encoding="utf-8"?>
<DataType Key="962a3c3d-b46e-43b0-b732-2da0e757dd3f" Alias="StartPage - #HomeTextColor - Color Picker" Level="1">
  <Info>
    <Name>StartPage - #HomeTextColor - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"000000\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"051ff5\",\"label\":\"051ff5\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"f0f505\",\"label\":\"f0f505\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"3bf505\",\"label\":\"3bf505\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"c905f5\",\"label\":\"c905f5\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"05f5e2\",\"label\":\"05f5e2\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"f505cc\",\"label\":\"f505cc\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"f50542\",\"label\":\"f50542\"}"
    },
    {
      "id": 9,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>