<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e5e2255-07ff-412c-b0ed-416accb4a9f7" Alias="StartPage - HeroImage - Media Picker" Level="1">
  <Info>
    <Name>StartPage - HeroImage - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": false,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": false,
  "StartNodeId": null
}]]></Config>
</DataType>