<?xml version="1.0" encoding="utf-8"?>
<DataType Key="450c4aa3-4b7a-4085-b188-0968bb953f48" Alias="StartPage - Url picker - Multi Url Picker" Level="1">
  <Info>
    <Name>StartPage - Url picker - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "OverlaySize": null,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>