<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89e55e73-df0c-4e88-b2d1-0a5f00441485" Alias="StartPage - #MetaDescription - Textarea" Level="1">
  <Info>
    <Name>StartPage - #MetaDescription - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>