<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c90f3cee-b357-46ab-82db-d7354b00ad0a" Alias="StartPage - multi url - Multi Url Picker" Level="1">
  <Info>
    <Name>StartPage - multi url - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": null
}]]></Config>
</DataType>