<?xml version="1.0" encoding="utf-8"?>
<DataType Key="912e25d4-4e00-45f2-9e1f-55062d057586" Alias="StartPage - Hero image - Media Picker" Level="1">
  <Info>
    <Name>StartPage - Hero image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": false,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": false,
  "StartNodeId": null
}]]></Config>
</DataType>