<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="282b88ff-9c44-45d5-bf09-e8e70cc644ec" Alias="CookieSettings" Level="1">
  <Info>
    <Parent>GlobalSettings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Cookie settings</Translation>
    <Translation Language="sv">Kakinställningar</Translation>
  </Translations>
</Dictionary>