<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="130b3d20-8ea7-44cf-9136-a74d4f6549b4" Alias="CookiesAcceptText" Level="1">
  <Info>
    <Parent>GlobalSettings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Cookies accept text</Translation>
    <Translation Language="sv">Kakor acceptantstext</Translation>
  </Translations>
</Dictionary>