<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5cc53fbc-befb-40d8-b4e0-d455915c228a" Alias="CookiesNoticeTextDescription" Level="2">
  <Info>
    <Parent>CookiesNoticeText</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The text that is displayed for the GDPR cookie.</Translation>
    <Translation Language="sv">Texten som visas för kakor-notifiering.</Translation>
  </Translations>
</Dictionary>