<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8e00dd30-7fb6-4ab5-a8f4-1e672feebdfe" Alias="CookiesAcceptTextDescription" Level="2">
  <Info>
    <Parent>CookiesAcceptText</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The text that is displayed whether the visitor accepts cookies or not.</Translation>
    <Translation Language="sv">Texten som visas huruvida besökaren accepterar kakor eller ej.</Translation>
  </Translations>
</Dictionary>