<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3531fe73-3cf8-4470-b57a-b5326d4b5a8f" Alias="CookiesLinkDescription" Level="2">
  <Info>
    <Parent>CookiesLink</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The link to the page where information about what the cookie stores and general GDPR information.</Translation>
    <Translation Language="sv">The link to the page where information about what the cookie stores and general GDPR information.</Translation>
  </Translations>
</Dictionary>