<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c37d9475-b029-414a-b7cc-364b6128be6f" Alias="CookiesNoticeText" Level="1">
  <Info>
    <Parent>GlobalSettings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Cookies notification text</Translation>
    <Translation Language="sv">Notifixeringstext kakor</Translation>
  </Translations>
</Dictionary>