<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="74aa14e9-7f75-42bf-9b0f-768b5be9fbe9" Alias="General" Level="1">
  <Info>
    <Parent>GlobalSettings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">General</Translation>
    <Translation Language="sv">Generellt</Translation>
  </Translations>
</Dictionary>