<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fbba4e92-b427-4823-9a6f-e29a118e40bf" Alias="HomeTextDescription" Level="2">
  <Info>
    <Parent>HomeText</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The text that links to home.</Translation>
    <Translation Language="sv">Texten som länkar hem.</Translation>
  </Translations>
</Dictionary>