<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cb1bbe22-221d-4b82-bbb9-ca7882ac1269" Alias="HomeText" Level="1">
  <Info>
    <Parent>GlobalSettings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Home text</Translation>
    <Translation Language="sv">Hemtext</Translation>
  </Translations>
</Dictionary>