<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2a2e5f43-4b08-4f1c-aa37-0ee722dc8680" Alias="HomeTextColorDescription" Level="1">
  <Info>
    <Parent>HomeTextColor</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The color of the home and search texts.</Translation>
    <Translation Language="sv">Färgen på hem och söktexterna.</Translation>
  </Translations>
</Dictionary>