<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7e90037c-8fa9-4aad-abaa-045c7bf08a96" Alias="HomeTextColor" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Home text color</Translation>
    <Translation Language="sv">Hemtextfärg</Translation>
  </Translations>
</Dictionary>