<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d58cdd78-5014-4a7f-9b72-08c058dee875" Alias="MetaDescription" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Meta description</Translation>
    <Translation Language="sv">Metabeskrivning</Translation>
  </Translations>
</Dictionary>