<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d2ccf329-bc03-4a6a-bd0d-c073db2f8761" Alias="SearchResultsPerPage" Level="1">
  <Info>
    <Parent>GlobalSettings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search results per page</Translation>
    <Translation Language="sv">Sökträffar per sida</Translation>
  </Translations>
</Dictionary>