<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="be70f106-0972-462e-871f-5c73df434e62" Alias="TeaserHeading" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Teaser heading</Translation>
    <Translation Language="sv">Teaserrubrik</Translation>
  </Translations>
</Dictionary>