<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d347d358-c553-4a01-8dda-e14ae905fcd2" Alias="TeaserMediaAltText" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Teaser media alt text</Translation>
    <Translation Language="sv">Teaserbild alttext</Translation>
  </Translations>
</Dictionary>