<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6eea5feb-aea3-4a13-92af-a9817aa1464e" Alias="TeaserMedia" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Teaser image</Translation>
    <Translation Language="sv">Teaserbild</Translation>
  </Translations>
</Dictionary>