<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="22fb83a2-4a0c-4336-95e7-220673c5650c" Alias="umbracoUrlName" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Custom URL</Translation>
    <Translation Language="sv">Anpassad URL</Translation>
  </Translations>
</Dictionary>