/* This is only used for the component */
html,
*,
*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  font-family: "roboto", cursive;
}
/* END This is only used for the component */
.footer {
  display: flex;
  justify-content: center;
}
.cookies-notice a {

}

.cookies-notice {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #05113d;
  padding: 6%;
  height: 240px;
  margin-bottom: initial;
  color: #fff;
  line-height: 1.5em;
  font-size: 1em;
  .cookies_accept {
    background-color: #11c011d1;
    cursor: pointer;

    &:hover {
      background-color: darkgreen;
    }
  }

  & p {
    margin-bottom: 3%;

  }
  
  .cookies_read-more {
    background-color: #7b7e83;

    &:hover {
      background-color: darkgray;
    }
  }
}
.cookies-notice a {
    border: 2px solid;
    display: inline-block;
    text-decoration: none;
    margin: 2%;
    color: white;
    background-color: #131415;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 1%;
    width: 50%;
    padding: 2%;
    margin-bottom: 2%;
}

@media screen and (min-width: 800px) {
  .cookies-notice{
    height: initial;
    padding: 1%;
    padding-top: 3%;

    & p {
      margin-bottom: initial;
      padding: 1%;
    }

    & a {
      padding: 1%;
      width: 20%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .cookies-notice a {
    width: 15%;
  }
}

@media screen and (min-width: 1800px) {
  .cookies-notice {
    padding-top: 1%;

    & a {
      width: 
      9%;
    }
  }
}
