<!-- These links is only for this component, not to be used in real env -->
<link rel="stylesheet" href="footer.css" />
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<script src="footer.js"></script>


<div class="footer">
    <div class="cookies-notice">
        <p>Cookies are used on this site to improve the service. By continuing on the site you are agreeing to the use of cookies.</p>
        <a class="cookies_accept">I accept</a>
        <a href="cookies" class="cookies_read-more">Read more</a>
    </div>
</div>