<!-- These links is only for this component, not to be used in real env -->
<link rel="stylesheet" href="footer.css" />
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<script src="footer.js"></script>


<div class="footer">
    <div class="cookies-notice">
        <p>Cookies are stored on this site to improve our service. Please read more by clicking on this link.</p>

        <a href="#">I accept.</a>
    </div>
</div>