.article h1 {
    font-family: "roboto", cursive;
    text-align: center;
}

.article__content__main__body {
    margin: 5%;
    margin-top: 2%;
}

.article h2 {
    font-size: 30px;
}

.article__content__main__body p {
    margin: 0.8%;
}