<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f4ebf7f0-12d3-46d9-b065-915dfccf6602" Alias="articlePage" Level="1">
  <Info>
    <Name>ArticlePage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page template for creating generic article pages.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="59c74cd8-8d0e-4be9-baf2-f9ff276f36cd">baseContentPage</Composition>
    </Compositions>
    <DefaultTemplate>ArticlePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="361cd9f0-731f-4ddb-807d-fc87ccbb9b08">ArticlePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>