<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ddb7fd0e-55ac-4cbb-88e9-a55057c9dc0c" Alias="blogPage" Level="2">
  <Info>
    <Name>BlogPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Blogs</Folder>
    <Compositions />
    <DefaultTemplate>BlogPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="46a8eab7-f8b8-4e5d-9be5-ec3392a9c8b2">BlogPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="900788b7-1261-41b3-ba9d-3219e48dcaaf">blogPostPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>19c325a4-a57a-444a-9635-8fc5164810b0</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>91ee287a-33bd-46e5-b664-668ce05b2db2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Main</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>