<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="900788b7-1261-41b3-ba9d-3219e48dcaaf" Alias="blogPostPage" Level="2">
  <Info>
    <Name>BlogPostPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page template for creating blog posts.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Blogs</Folder>
    <Compositions>
      <Composition Key="59c74cd8-8d0e-4be9-baf2-f9ff276f36cd">baseContentPage</Composition>
    </Compositions>
    <DefaultTemplate>BlogPostPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="58a30bec-739d-43b7-b66f-85ca2620dd3e">BlogPostPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>955dee90-0a1b-4dba-818e-0e1d50d25324</Key>
      <Name>Preamble</Name>
      <Alias>preamble</Alias>
      <Definition>a6b1074a-d400-4513-a570-2c8ab3fcb88a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An introductory text for the blog post.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Main</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>