<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="69aaf95a-68ab-4a5b-979f-12b7d6b00571" Alias="searchPage" Level="1">
  <Info>
    <Name>SearchPage</Name>
    <Icon>icon-search color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>SearchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="82c8da80-00a3-4ddd-b217-8333b683faa0">SearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>