<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="22ecb40b-f693-4b1e-bd16-0d5c2dc1e1d3" Alias="siteMapPage" Level="1">
  <Info>
    <Name>SiteMapPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>SiteMapPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a23eb00b-bbb2-4229-9985-b05f12091c54">SiteMapPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>