<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="28b1a41a-867a-4a02-82ea-5b3d1b2d0433" Alias="startPage" Level="1">
  <Info>
    <Name>StartPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>StartPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2e31532f-9b66-4721-b1c5-c7048a27ed37">StartPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f4ebf7f0-12d3-46d9-b065-915dfccf6602">articlePage</ContentType>
    <ContentType Key="ddb7fd0e-55ac-4cbb-88e9-a55057c9dc0c">blogPage</ContentType>
    <ContentType Key="4eecb958-4ad0-49d9-9162-cc17402101a8">blogsPage</ContentType>
    <ContentType Key="ec7b703e-cbe5-4102-bc66-d5dae0d4fe5c">containerPage</ContentType>
    <ContentType Key="da371eab-0920-40ee-b16b-c2ed5d291e56">globalsettings</ContentType>
    <ContentType Key="22ecb40b-f693-4b1e-bd16-0d5c2dc1e1d3">siteMapPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6a91b226-8287-4b61-9313-60658c6045fc</Key>
      <Name>HeroImage</Name>
      <Alias>heroImage</Alias>
      <Definition>54e087f8-14e5-47cc-9170-8d36261719c7</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>#Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b6f5350e-d191-4523-beea-3ccb0029f850</Key>
      <Name>#MetaDescription</Name>
      <Alias>metaDescription</Alias>
      <Definition>89e55e73-df0c-4e88-b2d1-0a5f00441485</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>#MetaData</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8cb1bb9f-14e1-430b-8ebb-0ee6d28cfabc</Key>
      <Name>#MetaTitle</Name>
      <Alias>metaTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>#MetaData</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2a733502-7ec1-43f2-93ba-1e1d0b0a441c</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>77b9ff4a-bd87-423d-b0ba-a1df778f7e3a</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>#Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c8e6ab62-061d-471b-9829-650b2c2581a8</Key>
      <Name>umbracoUrlName</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>#Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>#MetaData</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>#Content</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>