<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="28b1a41a-867a-4a02-82ea-5b3d1b2d0433" Alias="startPage" Level="1">
  <Info>
    <Name>StartPage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="59c74cd8-8d0e-4be9-baf2-f9ff276f36cd">baseContentPage</Composition>
    </Compositions>
    <DefaultTemplate>StartPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2e31532f-9b66-4721-b1c5-c7048a27ed37">StartPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ddb7fd0e-55ac-4cbb-88e9-a55057c9dc0c">blogPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>