<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dfdab93c-57ab-4f4c-ba3c-5866a798de8a" Alias="ArticlePage - MainBody - Rich Text Editor" Level="1">
  <Info>
    <Name>ArticlePage - MainBody - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "removeformat",
      "paste",
      "styleselect",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "anchor",
      "umbmediapicker",
      "umbembeddialog"
    ],
    "stylesheets": [
      "/css/rasolo.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>