<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91ee287a-33bd-46e5-b664-668ce05b2db2" Alias="Basecontentpage - Title - Textbox" Level="1">
  <Info>
    <Name>Basecontentpage - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>29</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>