<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb50638a-9895-4d00-9975-54452fddfe7f" Alias="BlogPostPage - #MetaDescription - Textarea" Level="1">
  <Info>
    <Name>BlogPostPage - #MetaDescription - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>