<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15946f49-3890-403c-be63-2dbbe3dde9d3" Alias="BlogPostPage - #Preamble - Textarea" Level="1">
  <Info>
    <Name>BlogPostPage - #Preamble - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>