<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07908951-288a-4aa0-bc59-86ef42a5fe0e" Alias="BlogPostPage - Hero image - Media Picker" Level="1">
  <Info>
    <Name>BlogPostPage - Hero image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>