<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54e087f8-14e5-47cc-9170-8d36261719c7" Alias="StartPage - HeroImage - Media Picker (1)" Level="1">
  <Info>
    <Name>StartPage - HeroImage - Media Picker (1)</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>