<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77b9ff4a-bd87-423d-b0ba-a1df778f7e3a" Alias="StartPage - Title - Textarea" Level="1">
  <Info>
    <Name>StartPage - Title - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>