.site__header {
    position: absolute;
    z-index: 999;
    margin: 1%;
    color: #2b1e1f;
    font-weight: bold;
    font-size: 2vw;
}

.site__header:hover {
    cursor: pointer;
    color: lightgray;
}

@media screen and (max-width: 900px) {
    .site__header {
        margin: 2%;
        font-size: 5vw;
    }
}