.site__header {
    position: absolute;
    z-index: 999;
    margin: 1%;

    & a{
        color: #2b1e1f;
        font-weight: bold;
        font-size: 2vw;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: #ceafb1;
        }
    }
}



@media screen and (max-width: 900px) {
    .site__header {
        margin: 2%;
        font-size: 5vw;
    }
}